<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style_admin.xhtml" />
</h:head>

<h:body>
<center>
	<ui:include src="/parts/idle_update.xhtml" />
	
	<p:layout fullPage="true">
	    <p:layoutUnit position="center" style="padding:0px;" footer="Copyright © Happyship.ru 2015  Все права защищены"  resizable="true">
			<ui:include src="/admin/elements/menu.xhtml" />
						
			<h:form id="dataTableForm">
			
			<!-- СООБЩЕНИЕ -->
			<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
			
				<!-- ТАБЛИЦА ПОДАРКОВ -->
			    <p:dataTable id="dataTable" value="#{cparty.list}" var="cp"
                 paginatorTemplate="{Topic}   {CreateButton} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                 paginator="true" rows="30" style="margin-bottom:20px">
				
					<!-- КНОПКА ДОБАВИТЬ В ШАПКЕ ТАБЛИЦЫ -->
					<f:facet name="{CreateButton}">
						<p:remoteCommand name="showCreateDialog" update=":createDialog, :createDialogForm" actionListener="#{cparty.clearValues}" />
						<p:remoteCommand name="hideCreateDialog" update=":createDialog" actionListener="#{cpartyDialog.hide}" />
						<p:commandButton value="Добавить" actionListener="#{cpartyDialog.show}" onclick="PF('createDialog').show()" icon="fa fa-plus" />		
					</f:facet>
					
					<f:facet name="{Topic}">
						<p:outputLabel value="Контрагенты" />
					</f:facet>
	 
	 				<!--  ################# КОД #######################-->
	 				<p:column width="60" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Код"/>
			            </f:facet>
			            <h:outputText value="#{cp.id}" />
			        </p:column>
	
	
			        <!--  ################# РЕДАКТИРОВАТЬ #######################-->
			        <p:column width="40" style="text-align:center;">
						<p:commandButton icon="fa fa-pencil-square" actionListener="#{cpartyDialog.show}" onclick="PF('editDialog').show()">
							<p:ajax listener="#{cparty.setValues(cp)}" update=":editDialogForm"/>
						</p:commandButton>
			        </p:column> 
			        
			        <!--  ################# ПОДАРКИ #######################-->
			        <p:column width="40" style="text-align:center;">
						<p:commandButton
							id="lookOnPresent"
							icon="fa fa-cubes" 
							onclick="PF('presentsDialog').show()"
							actionListener="#{cparty.updatePresentList(cp)}" update="presentTable"  
							title="Смотреть подарки подробно">
							<p:ajax update="presentTable"/>
						</p:commandButton>
						<p:blockUI block="presentTable" trigger="presentTable lookOnPresent">
							Загрузка<br />
							<p:graphicImage name="/images/loader.gif"/>
						</p:blockUI>
			        </p:column> 
				    
			        <!--  ################# УДАЛИТЬ #######################-->
			        <p:column width="40" style="text-align:center;">
			            <p:commandButton update="dataTableForm" icon="fa fa-minus-circle">
			           		<p:confirm header="Подтверждение" message="Удалить этого контрагента?" icon="fa fa-exclamation-triangle" />
	          				<p:ajax listener="#{cparty.delete(cp)}" update=":dataTableForm:msg :dataTableForm:dataTable"/>
	   					</p:commandButton>
			        </p:column>
			        	        
			            	                		        
			        	       
			       <!--  ################# АДРЕС #######################-->
			       <p:column width="350">
			            <f:facet name="header">
			                <h:outputText value="Адрес" />
			            </f:facet>

			            г. #{cp.city} #{cp.fstreetname} #{cp.fnumber} #{cp.froom} #{cp.fpostalcode}
			       </p:column>
			        
			       <!--  ################# НАЗВАНИЕ #######################-->
			       <p:column width="200">
			            <f:facet name="header">
			                <h:outputText value="Название" />
			            </f:facet>
			            
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
	           				<p:inputText value="#{cp.name}" required="true" label="text" />
	           				<p:ajax event="save" listener="#{cparty.update(cp)}" update=":dataTableForm:msg"/>
	       				</p:inplace>
			       </p:column> 
			       
			       <!--  ################# ТЕЛЕФОНЫ #######################-->
			       <p:column>
			            <f:facet name="header">
			                <h:outputText value="Телефоны" />
			            </f:facet>
			            
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
	           				<p:inputText value="#{cp.phones}" required="true" label="text" />
	           				<p:ajax event="save" listener="#{cparty.update(cp)}" update=":dataTableForm:msg"/>
	       				</p:inplace>
			       </p:column> 
			       
			       <!--  ################# WEBSITE #######################-->
			       <p:column width="200">
			            <f:facet name="header">
			                <h:outputText value="Web-сайт" />
			            </f:facet>

                		<a href="#{cp.website}" target="_blank">#{cp.siteName}</a>
                		
			       </p:column> 
			        		      		   		      	        
			    </p:dataTable>
		
			</h:form>
			
	    </p:layoutUnit>    
	</p:layout>
</center>

<!--  ################# ДИАЛОГ ДОБАВЛЕНИЯ КОНТРАГЕНТА #######################-->
<p:dialog 
	id="createDialog"
	header="Добавить контрагента" 
	widgetVar="createDialog" 
	modal="true" 
	width="900" 
	height="450"
	visible="#{cpartyDialog.display}"
	closeOnEscape="true"
	resizable="false">
	
	<!-- ФОРМА ДОБАВЛЕНИЯ КОНТРАГЕНТА -->
    <h:form id="createDialogForm">

		<!-- СООБЩЕНИЕ -->
    	<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
    	
	    <h:panelGrid columns="3" cellpadding="5" style="vertical-align:bottom;">    	
	    	
	    	<!--  ################# НАЗВАНИЕ ####################### -->
	    	<h:outputText value="Название" />
	    	<p:inputText  
	    		id="cpartyName"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{cparty.name}" 
	    		validatorMessage="Название контрагента от 3 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Название контрагента должно быть заполнено!">
	    		<f:validateLength minimum="3" maximum="300" /> 
	    	</p:inputText>
	    	<p:message for="cpartyName" showDetail="true" />   	    	   			
						
	    	<!--  ################# ТЕЛЕФОН ####################### -->
	    	<h:outputText value="Телефон:" />
	    	<p:inputText  
	    		id="cpartyPhones"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{cparty.phones}"> 
	    	</p:inputText>
	    	<p:message for="cpartyPhones" showDetail="true" />
	    	
	    	<!--  ################# EMAIL ####################### -->
	    	<h:outputText value="E-mail:" />
	    	<p:inputText  
	    		id="cpartyEmail"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{cparty.email}"> 
	    	</p:inputText>
	    	<p:message for="cpartyEmail" showDetail="true" />
	    	
	    	<!--  ################# WEBSITE ####################### -->
	    	<h:outputText value="Web-сайт:" />
	    	<p:inputText  
	    		id="cpartyWebsite"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{cparty.website}"> 
	    	</p:inputText>
	    	<p:message for="cpartyWebsite" showDetail="true" />  
	    	
	    	
	    	<!--  ################# ГОРОД ####################### -->
	    	<h:outputText value="Город:" />
	    	<p:inputText  
	    		id="cpartyCity"
	    		disabled="true"
	    		maxlength="100" 
	    		size="50" 
	    		value="#{cparty.city}" 
	    		validatorMessage="Название города от 2 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Название города должно быть заполнено!">
	    		<f:validateLength minimum="2" maximum="300" />
	    	</p:inputText>
	    	<p:message for="cpartyCity" showDetail="true" /> 
	    	
	    	<!--  ################# УЛИЦА ####################### -->
	    	<h:outputText value="Улица:" />
	    	<p:inputText  
	    		id="cpartyStreet"
	    		maxlength="200" 
	    		size="50" 
	    		value="#{cparty.streetname}" 
	    		validatorMessage="Улица от 3 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Улица должна быть введена!">
	    		<f:validateLength minimum="3" maximum="300" />
	    	</p:inputText>
	    	<p:message for="cpartyStreet" showDetail="true" />
	    	
	    	<!--  ################# NUMBER ####################### -->
	    	<h:outputText value="Номер дома:" />
	    	<p:inputText  
	    		id="cpartyNumber"
	    		maxlength="5" 
	    		size="5" 
	    		value="#{cparty.number}" 
	    		validatorMessage="Улица от 1 до 5 символов!" 
	    		required="true"
	    		requiredMessage="Улица должна быть введена!">
	    		<f:validateLength minimum="1" maximum="5" />
	    	</p:inputText>
	    	<p:message for="cpartyNumber" showDetail="true" />  
	    	
	    	<!--  ################# КВАРТИРА ####################### -->
	    	<h:outputText value="Квартира:" />
	    	<p:inputText  
	    		id="cpartyRoom"
	    		maxlength="10" 
	    		size="10" 
	    		value="#{cparty.room}" 
	    		validatorMessage="Квартира от 1 до 10 символов!" 
	    		required="true"
	    		requiredMessage="Квартира должна быть введена!">
	    		<f:validateLength minimum="1" maximum="10" />
	    	</p:inputText>
	    	<p:message for="cpartyNumber" showDetail="true" /> 
	    	
	    	<!--  ################# ПОЧТОВЫЙ ИНДЕКС ####################### -->
	    	<h:outputText value="Почтовый индекс:" />
	    	<p:inputText  
	    		id="cpartyPostalcode"
	    		maxlength="16" 
	    		size="16" 
	    		value="#{cparty.postalcode}">
	    	</p:inputText>
	    	<p:message for="cpartyPostalcode" showDetail="true" />  	
	    	
	    	
	    	
	    	<!--  ################# СПИСОК ПОДАРКОВ ####################### -->
	    	<h:outputText value=" " />
		        <p:selectCheckboxMenu id="menu" value="#{cparty.selectedList}" label="Список подарков"
		                              filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
		            <f:selectItems value="#{cparty.presentList}" var="pr"  itemLabel="#{pr.name}" itemValue="#{pr.id}" />
		        </p:selectCheckboxMenu>
	    	<h:outputText value=" " />
	    </h:panelGrid>
	    
	    <!--  КНОПКА ДОБАВИТЬ -->
    	<p:commandButton
    		value="Добавить" 
    		actionListener="#{cpartyDialog.submitAdd}" 
    		update=":dataTableForm:dataTable,createDialogForm, createDialog" 
    		validateClient="true"
    		icon="fa fa-check">
    	</p:commandButton>

		<!--  КНОПКА ОТМЕНА -->
    	<p:commandButton 
    		value="Отмена" 
    		onclick="PF('createDialog').hide()" 
    		icon="fa fa-close">
    	</p:commandButton>
    	
    	<!-- ОБРАБОТЧИК СООБЩЕНИЙ -->
	    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
    </h:form>
</p:dialog>   


<!--  ################# ДИАЛОГ РЕДАКТИРОВАНИЯ ПОДАРКА #######################-->
<p:dialog 
	id="editDialog"
	header="Редактировать поздравление" 
	widgetVar="editDialog" 
	modal="true" 
	width="900" 
	height="400"
	visible="#{cpartyDialog.display}"
	closeOnEscape="true"
	resizable="false">
    <h:form id="editDialogForm">

    	<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
    	
	    <h:panelGrid columns="3" cellpadding="5" style="vertical-align:bottom;">
	    	
	    	<!--  ################# НАЗВАНИЕ ####################### -->
	    	<h:outputText value="Название" />
	    	<p:inputText  
	    		id="cpartyName"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{cparty.name}" 
	    		validatorMessage="Название контрагента от 3 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Название контрагента должно быть заполнено!">
	    		<f:validateLength minimum="3" maximum="300" /> 
	    	</p:inputText>
	    	<p:message for="cpartyName" showDetail="true" />   	    	   			
						
	    	<!--  ################# ТЕЛЕФОН ####################### -->
	    	<h:outputText value="Телефон:" />
	    	<p:inputText  
	    		id="cpartyPhones"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{cparty.phones}"> 
	    	</p:inputText>
	    	<p:message for="cpartyPhones" showDetail="true" />
	    	
	    	<!--  ################# EMAIL ####################### -->
	    	<h:outputText value="E-mail:" />
	    	<p:inputText  
	    		id="cpartyEmail"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{cparty.email}"> 
	    	</p:inputText>
	    	<p:message for="cpartyEmail" showDetail="true" />
	    	
	    	<!--  ################# WEBSITE ####################### -->
	    	<h:outputText value="Web-сайт:" />
	    	<p:inputText  
	    		id="cpartyWebsite"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{cparty.website}"> 
	    	</p:inputText>
	    	<p:message for="cpartyWebsite" showDetail="true" />  
	    	
	    	
	    	<!--  ################# ГОРОД ####################### -->
	    	<h:outputText value="Город:" />
	    	<p:inputText  
	    		id="cpartyCity"
	    		disabled="true"
	    		maxlength="100" 
	    		size="50" 
	    		value="#{cparty.city}" 
	    		validatorMessage="Название города от 2 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Название города должно быть заполнено!">
	    		<f:validateLength minimum="2" maximum="300" />
	    	</p:inputText>
	    	<p:message for="cpartyCity" showDetail="true" /> 
	    	
	    	<!--  ################# УЛИЦА ####################### -->
	    	<h:outputText value="Улица:" />
	    	<p:inputText  
	    		id="cpartyStreet"
	    		maxlength="200" 
	    		size="50" 
	    		value="#{cparty.streetname}" 
	    		validatorMessage="Улица от 3 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Улица должна быть введена!">
	    		<f:validateLength minimum="3" maximum="300" />
	    	</p:inputText>
	    	<p:message for="cpartyStreet" showDetail="true" />
	    	
	    	<!--  ################# NUMBER ####################### -->
	    	<h:outputText value="Номер дома:" />
	    	<p:inputText  
	    		id="cpartyNumber"
	    		maxlength="5" 
	    		size="5" 
	    		value="#{cparty.number}" 
	    		validatorMessage="Улица от 1 до 5 символов!" 
	    		required="true"
	    		requiredMessage="Улица должна быть введена!">
	    		<f:validateLength minimum="1" maximum="5" />
	    	</p:inputText>
	    	<p:message for="cpartyNumber" showDetail="true" />  
	    	
	    	<!--  ################# КВАРТИРА ####################### -->
	    	<h:outputText value="Квартира:" />
	    	<p:inputText  
	    		id="cpartyRoom"
	    		maxlength="10" 
	    		size="10" 
	    		value="#{cparty.room}" 
	    		validatorMessage="Квартира от 1 до 10 символов!" 
	    		required="true"
	    		requiredMessage="Квартира должна быть введена!">
	    		<f:validateLength minimum="1" maximum="10" />
	    	</p:inputText>
	    	<p:message for="cpartyNumber" showDetail="true" /> 
	    	
	    	<!--  ################# ПОЧТОВЫЙ ИНДЕКС ####################### -->
	    	<h:outputText value="Почтовый индекс:" />
	    	<p:inputText  
	    		id="cpartyPostalcode"
	    		maxlength="16" 
	    		size="16" 
	    		value="#{cparty.postalcode}">
	    	</p:inputText>
	    	<p:message for="cpartyPostalcode" showDetail="true" />  	
	    	
	    	<!--  ################# СПИСОК ПОДАРКОВ ####################### -->
	    	<h:outputText value=" " />
		        <p:selectCheckboxMenu id="menu" value="#{cparty.selectedList}" label="Список подарков"
		                              filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
		            <f:selectItems value="#{cparty.presentList}" var="pr"  itemLabel="#{pr.name}" itemValue="#{pr.id}" />
		        </p:selectCheckboxMenu>
	    	<h:outputText value=" " />
	    </h:panelGrid>
	    
	    <!--  КНОПКА ДОБАВИТЬ -->
    	<p:commandButton
    		value="Изменить" 
    		update=":dataTableForm:dataTable,editDialogForm, editDialog" 
    		actionListener="#{cpartyDialog.submitUpdate}" 
    		validateClient="true"
    		icon="fa fa-check">
    	</p:commandButton>

		<!--  КНОПКА ОТМЕНА -->
    	<p:commandButton 
    		value="Отмена" 
    		onclick="PF('editDialog').hide();" 
    		actionListener="#{cpartyDialog.hide}" 
    		icon="fa fa-close">
    	</p:commandButton>
    	
    	<!-- ОБРАБОТЧИК СООБЩЕНИЙ -->
	    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
    </h:form>
</p:dialog>   

<!--  ################# ДИАЛОГ СПИСОК ПОДАРКОВ #######################-->
<p:dialog 
	id="presentsDialog"
	header="Подарки в наличии" 
	widgetVar="presentsDialog" 
	modal="true" 
	width="600" 
	height="300"
	closeOnEscape="true"
	resizable="false" style="text-align:center;">
	<p:dataTable id="presentTable" var="pres" value="#{cparty.presentList}" scrollable="false" paginator="true" rows="5">
	
			<p:column headerText="Категория" style="text-align:left;" width="200">
	       		<h:outputText value="#{pres.typeName}" />
	      	</p:column>
	      	
	      	<p:column headerText="Название" style="text-align:left;">
	      		<h:outputText value="#{pres.name}" />
	      	</p:column>
	</p:dataTable>
</p:dialog> 


<p:confirmDialog global="true" showEffect="drop" hideEffect="drop">
    <p:commandButton value="Да" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
    <p:commandButton value="Нет" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
</p:confirmDialog>
  
  
</h:body>
</html>