<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style_admin.xhtml" />
</h:head>
<h:body>

<center>

	<p:layout fullPage="true">
	
	    <p:layoutUnit position="center" style="padding:0px;" footer="Copyright © Happyship.ru 2015  Все права защищены"  resizable="true">
				
			<ui:include src="/admin/elements/menu.xhtml" />
			
			<h:form id="dataTableForm">
				<!-- СООБЩЕНИЕ -->
				<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
			
			    <p:dataTable id="tbl" var="order" value="#{dashboard.list}"
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                 paginator="true" rows="100" style="margin-bottom:20px">
 			 
			        <p:column width="60" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Код" />
			            </f:facet>
			            #{order.id}
			        </p:column>
			        
			        <p:column width="200" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Состояние" />
			            </f:facet>
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			            	<f:facet name="output">
	                			<div class="ui-status #{order.formatStatus}">#{order.textStatus}</div>
	            			</f:facet>
	            			<f:facet name="input">
	            				 <p:selectOneMenu  value="#{order.status}" style="width:125px">
						            <f:selectItem itemLabel="Ожидает" itemValue="1" />
						            <f:selectItem itemLabel="Обрабатывается" itemValue="2" />
						            <f:selectItem itemLabel="Доставляется" itemValue="3" />
						            <f:selectItem itemLabel="Выполнен!" itemValue="4" />
						            <f:selectItem itemLabel="Нарушение" itemValue="5" />
						            <f:selectItem itemLabel="Не выполнено" itemValue="7" />
						        </p:selectOneMenu>
								<p:ajax event="save" listener="#{dashboard.updateOrder(order)}" update=":dataTableForm:msg"/>
	            			</f:facet>
	            		</p:inplace>
			        </p:column>
			        
			        <p:column width="100" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Дата" />
			            </f:facet>
			            #{order.deliveryDate}
			        </p:column>
			        
			        <p:column width="130" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Время" />
			            </f:facet>
			            #{order.formatStartTime} + 2 часа
			        </p:column>
			        
			        <p:column width="100" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Платёж" />
			            </f:facet>
			            #{order.price} руб.
			        </p:column>
			        
			        <p:column width="100" style="text-align:center;">
						<p:link outcome="/admin/Order.do" value="Обработать">
						    <f:param name="orderId" value="#{order.id}" />
						</p:link>
			        </p:column>
			        
			        <p:column>
			            <f:facet name="header">
			                <h:outputText value="Адрес"/>
			            </f:facet>
			            #{order.streetname}, д. #{order.number}, кв. #{order.room}
			        </p:column>
			        			        
			    </p:dataTable>
			</h:form>
	    </p:layoutUnit>
	    
	</p:layout>
</center>


</h:body>
</html>