<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style_admin.xhtml" />
</h:head>
<h:body>

<center>

	<p:layout fullPage="true">
	
	    <p:layoutUnit position="center" style="padding:0px;" footer="Copyright © Happyship.ru 2015  Все права защищены"  resizable="true">
				
			<ui:include src="/admin/elements/menu.xhtml" />
			
			<h:form id="form">
				<p:panelGrid columns="3" columnClasses="ui-c1-design-st, ui-c2-design-st, ui-c3-design-st">
				
					<!-- ############## ЛОГОТИП ############## -->
					<h:outputText value="Логотип:" />
					<p:column style="text-align:center;">
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			                <f:facet name="output">
	                			Изменить
	            			</f:facet>
	            			
			                <f:facet name="input">
					            <p:inputText value="#{design.logoImage}" size="20"/>
	            			</f:facet>
	            			<p:ajax event="save" listener="#{design.updateAll}" update="logoImageId"/>
	       				</p:inplace>
			        </p:column> 
			        <h:graphicImage id="logoImageId" width="200" url="#{design.logoImage}" />
			        
			        
			        <!-- ############## ФОНОВОЕ ИЗОБРАЖЕНИЕ ############## -->
					<h:outputText value="Фоновое изображение:" />
					<p:column style="text-align:center;">
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			                <f:facet name="output">
	                			Изменить
	            			</f:facet>
	            			
			                <f:facet name="input">
					            <p:inputText value="#{design.bgImage}" size="20"/>
	            			</f:facet>
	            			<p:ajax event="save" listener="#{design.updateAll}" update="bgImageId"/>
	       				</p:inplace>
			        </p:column> 
			        <h:graphicImage id="bgImageId" width="200" url="#{design.bgImage}"/>
					
					
			        <!-- ############## ЦВЕТ ФОНА ############## -->
					<h:outputText value="Цвет фона:" />
					<p:column style="text-align:center;">		
						<p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			                <f:facet name="output">
	                			Изменить
	            			</f:facet>
	            			
			                <f:facet name="input">
					            <p:colorPicker value="#{design.bgColor}" />
	            			</f:facet>
	            			<p:ajax event="save" listener="#{design.updateAll}" update="colorId" />
	       				</p:inplace>
			        </p:column> 
			        <p:column>
			        	<p:separator id="colorId" style="width:200px;height:20px;background:\##{design.bgColor} !important;"></p:separator>
			        </p:column >			
					
					
					<!-- ############## ПОЗИЦИЯ ФОНА ПО X ############## -->
					<h:outputText value="Позиция фона по оси X:" />
					<p:column style="text-align:center;">
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			                <f:facet name="output">
	                			#{design.bgPosX}%
	            			</f:facet>
	            			
			                <f:facet name="input">
					            <p:spinner value="#{design.bgPosX}" min="0" max="100" suffix="%" size="10"/>
	            			</f:facet>
	            			<p:ajax event="save" listener="#{design.updateAll}" />
	       				</p:inplace>
			        </p:column> 
			        <h:outputText value="" />
			        
			        
			        <!-- ############## ПОЗИЦИЯ ФОНА ПО Y ############## -->
					<h:outputText value="Позиция фона по оси Y:" />
					<p:column style="text-align:center;">
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			                <f:facet name="output">
	                			#{design.bgPosY}%
	            			</f:facet>
	            			
			                <f:facet name="input">
					            <p:spinner value="#{design.bgPosY}" min="0" max="100" suffix="%" size="10"/>
	            			</f:facet>
	            			<p:ajax event="save" listener="#{design.updateAll}" />
	       				</p:inplace>
			        </p:column> 
			        <h:outputText value="" />
			        
			        <!-- ############## ВЫСОТА StepOne ############## -->
					<h:outputText value="Высота страницы StepOne.do:" />
					<p:column style="text-align:center;">
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			                <f:facet name="output">
	                			#{design.stepOneHeight}px
	            			</f:facet>
	            			
			                <f:facet name="input">
					            <p:spinner value="#{design.stepOneHeight}" min="1000" max="10000" suffix="px" size="10"/>
	            			</f:facet>
	            			<p:ajax event="save" listener="#{design.updateAll}" />
	       				</p:inplace>
			        </p:column> 
			        <h:outputText value="" />
			        
			        <!-- ############## ВЫСОТА StepTwo ############## -->
					<h:outputText value="Высота страницы StepTwo.do:" />
					<p:column style="text-align:center;">
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			                <f:facet name="output">
	                			#{design.stepTwoHeight}px
	            			</f:facet>
	            			
			                <f:facet name="input">
					            <p:spinner value="#{design.stepTwoHeight}" min="1000" max="10000" suffix="px" size="10"/>
	            			</f:facet>
	            			<p:ajax event="save" listener="#{design.updateAll}" />
	       				</p:inplace>
			        </p:column> 
			        <h:outputText value="" />
			        
			        <!-- ############## ПОВТОРЕНИЕ ФОНА ############## -->
					<h:outputText value="Тип повторение фона:" />
					<p:column style="text-align:center;">
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			                <f:facet name="output">
	                			#{design.bgRepeat}
	            			</f:facet>
	            			
			                <f:facet name="input">
					            <p:selectOneMenu id="bgRepeatId" value="#{design.bgRepeat}" style="width:125px">
						            <f:selectItem itemLabel="repeat" itemValue="repeat" />
						            <f:selectItem itemLabel="repeat-x" itemValue="repeat-x" />
						            <f:selectItem itemLabel="repeat-y" itemValue="repeat-y" />
						            <f:selectItem itemLabel="no-repeat" itemValue="no-repeat" />
						        </p:selectOneMenu>
	            			</f:facet>
	            			<p:ajax event="save" listener="#{design.updateAll}" />
	       				</p:inplace>
			        </p:column> 
			        <h:outputText value="" />
			        
			        <!-- ############## ФИКСАЦИЯ ФОНА ############## -->
					<h:outputText value="Фиксация фона:" />
					<p:column style="text-align:center;">
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			                <f:facet name="output">
	                			#{design.bgAttach}
	            			</f:facet>
	            			
			                <f:facet name="input">
					            <p:selectOneMenu id="bgAttachId" value="#{design.bgAttach}" style="width:125px">
						            <f:selectItem itemLabel="fixed" itemValue="fixed" />
						            <f:selectItem itemLabel="scroll" itemValue="scroll" />
						            <f:selectItem itemLabel="inherit" itemValue="inherit" />
						        </p:selectOneMenu>
	            			</f:facet>
	            			<p:ajax event="save" listener="#{design.updateAll}" />
	       				</p:inplace>
			        </p:column> 
			        <h:outputText value="" />
				</p:panelGrid>
			</h:form>
	    </p:layoutUnit>
	    
	</p:layout>
</center>


</h:body>
</html>