<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style_admin.xhtml" />
</h:head>

<h:body>
<center>

	<p:layout fullPage="true">
	    <p:layoutUnit position="center" style="padding:0px;" footer="Copyright © Happyship.ru 2015  Все права защищены"  resizable="true">
			<ui:include src="/admin/elements/menu.xhtml" />
						
			<h:form id="dataTableForm">
			
			<!-- СООБЩЕНИЕ -->
			<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
			
				<!-- ТАБЛИЦА ПОДАРКОВ -->
			    <p:dataTable id="dataTable" value="#{messageType.list}" var="mtype"
                 paginatorTemplate="{Topic}   {CreateButton} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                 paginator="true" rows="30" style="margin-bottom:20px">
				
					<!-- КНОПКА ДОБАВИТЬ В ШАПКЕ ТАБЛИЦЫ -->
					<f:facet name="{CreateButton}">
						<p:remoteCommand name="showCreateDialog" update=":createDialog, :createDialogForm" actionListener="#{messageType.clearValues}" />
						<p:remoteCommand name="hideCreateDialog" update=":createDialog" actionListener="#{messageTypeDialog.hide}" />
						<p:commandButton value="Добавить" actionListener="#{messageTypeDialog.show}" onclick="PF('createDialog').show()" icon="fa fa-plus">
							<p:ajax listener="#{messageType.clearValues}" update=":createDialogForm"/>
						</p:commandButton>			
					</f:facet>
					
					<f:facet name="{Topic}">
						<p:outputLabel value="Категории поздравлений" />
					</f:facet>
	 
	 				<!--  ################# КОД #######################-->
	 				<p:column width="60" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Код"/>
			            </f:facet>
			            <h:outputText value="#{mtype.id}" />
			        </p:column>
	
	
			        <!--  ################# РЕДАКТИРОВАТЬ #######################-->
			        <p:column width="40" style="text-align:center;">
						<p:commandButton icon="fa fa-pencil-square" actionListener="#{messageTypeDialog.show}" onclick="PF('editDialog').show()">
							<p:ajax listener="#{messageType.setValues(mtype)}" update=":editDialogForm"/>
						</p:commandButton>
			        </p:column> 
			        
			        <!--  ################# УДАЛИТЬ #######################-->
			        <p:column width="40" style="text-align:center;">
			            <p:commandButton update="dataTableForm" icon="fa fa-minus-circle">
			           		<p:confirm header="Подтверждение" message="Удалить эту категорию?" icon="fa fa-exclamation-triangle" />
	          				<p:ajax listener="#{messageType.delete(mtype)}" update=":dataTableForm:msg :dataTableForm:dataTable"/>
	   					</p:commandButton>
			        </p:column>
			        	        
			        
			        <!--  ################# ДОСТУПНОСТЬ #######################-->
			        
			        <p:column width="100" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Доступность" />
			            </f:facet>
			            <p:selectBooleanCheckbox value="#{mtype.available}" >
	          					<p:ajax event="valueChange" listener="#{messageType.update(mtype)}" update=":dataTableForm:msg"/>
			            </p:selectBooleanCheckbox>
			        </p:column>      	                		        
			        	       
			       <!--  ################# НАЗВАНИЕ #######################-->
			       <p:column>
			            <f:facet name="header">
			                <h:outputText value="Название" />
			            </f:facet>
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
	           				<p:inputText value="#{mtype.name}" required="true" label="text" >
	           					<p:ajax event="valueChange" listener="#{messageType.update(mtype)}" update=":dataTableForm:msg"/>
	           				</p:inputText>
	       				</p:inplace>
			        </p:column> 
			        		      		   		      	        
			    </p:dataTable>
			</h:form>
			
	    </p:layoutUnit>    
	</p:layout>
</center>

<!--  ################# ДИАЛОГ ДОБАВЛЕНИЯ ПОДАРКА #######################-->
<p:dialog 
	id="createDialog"
	header="Добавить категорию поздравления" 
	widgetVar="createDialog" 
	modal="true" 
	width="900" 
	height="200"
	visible="#{messageTypeDialog.display}"
	closeOnEscape="true"
	resizable="false">
	
	<!-- ФОРМА ДОБАВЛЕНИЯ ПОДАРКА -->
    <h:form id="createDialogForm">

		<!-- СООБЩЕНИЕ -->
    	<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
    	
	    <h:panelGrid columns="3" cellpadding="5" style="vertical-align:bottom;">
	    	
	    	<!--  ################# НАЗВАНИЕ ####################### -->
	    	<h:outputText value="Название" />
	    	<p:inputText  
	    		id="messageTypeName"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{messageType.name}" 
	    		validatorMessage="Название категории от 3 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Название категории должно быть заполнено!">
	    		<f:validateLength minimum="3" maximum="300" /> 
	    	</p:inputText>
	    	<p:message for="messageTypeName" showDetail="true" />
	    	
	    	
	    	<!--  ################# ОПИСАНИЕ ####################### -->
	    	<h:outputText value="Описание" />
	    	<p:inputTextarea 
	    		id="messageTypeDescription"
	    		rows="5" cols="50" 
	    		value="#{messageType.description}"/>
	    	<p:message for="messageTypeDescription" showDetail="true" />   	   			
			
			
			<!--  ################# ДОСТУПНОСТЬ ####################### -->
	    	<h:outputText value="Доступность" />
	    	<p:selectBooleanCheckbox value="#{messageType.available}"/>
	    	<h:outputText value=" " />

	    </h:panelGrid>
	    
	    <!--  КНОПКА ДОБАВИТЬ -->
    	<p:commandButton
    		value="Добавить" 
    		actionListener="#{messageTypeDialog.submitAdd}" 
    		update=":dataTableForm:dataTable,createDialogForm, createDialog" 
    		validateClient="true"
    		icon="fa fa-check">
    	</p:commandButton>

		<!--  КНОПКА ОТМЕНА -->
    	<p:commandButton 
    		value="Отмена" 
    		onclick="hideCreateDialog()" 
    		icon="fa fa-close">
    	</p:commandButton>
    	
    	<!-- ОБРАБОТЧИК СООБЩЕНИЙ -->
	    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
    </h:form>
</p:dialog>   


<!--  ################# ДИАЛОГ РЕДАКТИРОВАНИЯ ПОДАРКА #######################-->
<p:dialog 
	id="editDialog"
	header="Редактировать подарок" 
	widgetVar="editDialog" 
	modal="true" 
	width="900" 
	height="200"
	visible="#{messageTypeDialog.display}"
	closeOnEscape="true"
	resizable="false">
    <h:form id="editDialogForm">

    	<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
    	
	    <h:panelGrid columns="3" cellpadding="5" style="vertical-align:bottom;">
	    	
	    	<!--  ################# НАЗВАНИЕ ####################### -->
	    	<h:outputText value="Название" />
	    	<p:inputText  
	    		id="messageTypeName"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{messageType.name}" 
	    		validatorMessage="Название категории от 3 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Название категории должно быть заполнено!">
	    		<f:validateLength minimum="3" maximum="300" /> 
	    	</p:inputText>
	    	<p:message for="messageTypeName" showDetail="true" />
	    	
	    	
	    	<!--  ################# ОПИСАНИЕ ####################### -->
	    	<h:outputText value="Описание" />
	    	<p:inputTextarea 
	    		id="messageTypeDescription"
	    		rows="5" cols="50" 
	    		value="#{messageType.description}"/>
	    	<p:message for="messageTypeDescription" showDetail="true" />   	   			
			
			
			<!--  ################# ДОСТУПНОСТЬ ####################### -->
	    	<h:outputText value="Доступность" />
	    	<p:selectBooleanCheckbox value="#{messageType.available}"/>
	    	<h:outputText value=" " />

	    </h:panelGrid>
	    	<p:commandButton
	    		value="Изменить" 
	    		update=":dataTableForm:dataTable,editDialogForm, editDialog" 
	    		actionListener="#{messageTypeDialog.submitUpdate}"
	    		validateClient="true"
	    		icon="fa fa-check">
	    	</p:commandButton>

	    	<p:commandButton 
	    		value="Отмена" 
	    		onclick="PF('editDialog').hide();" 
	    		actionListener="#{messageTypeDialog.hide}"
	    		icon="fa fa-close">
	    	</p:commandButton>
	    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
    </h:form>
</p:dialog>   


<p:confirmDialog global="true" showEffect="drop" hideEffect="drop">
    <p:commandButton value="Да" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
    <p:commandButton value="Нет" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
</p:confirmDialog>

</h:body>
</html>