<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style_admin.xhtml" />
</h:head>

<h:body>
<center>

	<p:layout fullPage="true">
	    <p:layoutUnit position="center" style="padding:0px;" footer="Copyright © Happyship.ru 2015  Все права защищены"  resizable="true">
			<ui:include src="/admin/elements/menu.xhtml" />
						
			<h:form id="dataTableForm">
			
			<!-- СООБЩЕНИЕ -->
			<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
			
				<!-- ТАБЛИЦА ПОДАРКОВ -->
			    <p:dataTable id="dataTable" value="#{message.list}" var="msg"
                 paginatorTemplate="{Topic}   {CreateButton} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                 paginator="true" rows="30" style="margin-bottom:20px">
				
					<!-- КНОПКА ДОБАВИТЬ В ШАПКЕ ТАБЛИЦЫ -->
					<f:facet name="{CreateButton}">
						<p:remoteCommand name="showCreateDialog" update=":createDialog, :createDialogForm" actionListener="#{message.clearValues}" />
						<p:remoteCommand name="hideCreateDialog" update=":createDialog" actionListener="#{messageDialog.hide}" />
						<p:commandButton value="Добавить" actionListener="#{messageDialog.show}" onclick="PF('createDialog').show()" icon="fa fa-plus">
							<p:ajax listener="#{message.clearValues}" update=":createDialogForm"/>
						</p:commandButton>			
					</f:facet>
					
					<f:facet name="{Topic}">
						<p:outputLabel value="Поздравления" />
					</f:facet>
	 
	 				<!--  ################# КОД #######################-->
	 				<p:column width="60" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Код"/>
			            </f:facet>
			            <h:outputText value="#{msg.id}" />
			        </p:column>
	
	
			        <!--  ################# РЕДАКТИРОВАТЬ #######################-->
			        <p:column width="40" style="text-align:center;">
						<p:commandButton icon="fa fa-pencil-square" actionListener="#{messageDialog.show}" onclick="PF('editDialog').show()">
							<p:ajax listener="#{message.setValues(msg)}" update=":editDialogForm"/>
						</p:commandButton>
			        </p:column> 
			        
			        <!--  ################# УДАЛИТЬ #######################-->
			        <p:column width="40" style="text-align:center;">
			            <p:commandButton update="dataTableForm" icon="fa fa-minus-circle">
			           		<p:confirm header="Подтверждение" message="Удалить это поздравление?" icon="fa fa-exclamation-triangle" />
	          				<p:ajax listener="#{message.delete(msg)}" update=":dataTableForm:msg :dataTableForm:dataTable"/>
	   					</p:commandButton>
			        </p:column>
			        	        
			        
			        <!--  ################# ДОСТУПНОСТЬ #######################-->
			        
			        <p:column width="100" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Доступность" />
			            </f:facet>
			            <p:selectBooleanCheckbox value="#{msg.available}" >
	          					<p:ajax event="valueChange" listener="#{message.update(msg)}" update=":dataTableForm:msg"/>
			            </p:selectBooleanCheckbox>
			        </p:column>      	                		        
			        	       
			       <!--  ################# ПОЗДРАВЛЕНИЕ #######################-->
			       <p:column>
			            <f:facet name="header">
			                <h:outputText value="Поздравление" />
			            </f:facet>
			            #{msg.shortMessage}
			       </p:column>
			        
			       <!--  ################# КАТЕГОРИЯ #######################-->
			       <p:column width="200">
			            <f:facet name="header">
			                <h:outputText value="Категория" />
			            </f:facet>
			            
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			            	<f:facet name="output">
	                			<p:outputLabel value="#{msg.typeName}" />
	            			</f:facet>
	            			<f:facet name="input">
		                		<p:selectOneMenu id="messageTypeName" value="#{msg.typeId}" panelStyle="width:180px"
									 effect="fade" style="width:180px" filter="true" filterMatchMode="startsWith" >
									<f:selectItems value="#{message.types}" var="mtype" itemLabel="#{mtype.name}" itemValue="#{mtype.id}" />
								</p:selectOneMenu>
								<p:ajax event="save" listener="#{message.update(msg)}" update=":dataTableForm:msg"/>
	            			</f:facet>
						</p:inplace>
			       </p:column> 
			        		      		   		      	        
			    </p:dataTable>
			</h:form>
			
	    </p:layoutUnit>    
	</p:layout>
</center>

<!--  ################# ДИАЛОГ ДОБАВЛЕНИЯ ПОЗДРАВЛЕНИЯ #######################-->
<p:dialog 
	id="createDialog"
	header="Добавить поздравление" 
	widgetVar="createDialog" 
	modal="true" 
	width="700" 
	height="270"
	visible="#{messageDialog.display}"
	closeOnEscape="true"
	resizable="false">
	
	<!-- ФОРМА ДОБАВЛЕНИЯ ПОДАРКА -->
    <h:form id="createDialogForm">

		<!-- СООБЩЕНИЕ -->
    	<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
    	
	    <h:panelGrid columns="3" cellpadding="5" style="vertical-align:bottom;">    	
	    	
	    	<!--  ################# СООБЩЕНИЕ ####################### -->
	    	<h:outputText value="Поздравление" />
	    	<p:inputTextarea 
	    		id="messageDescription" 
	    		value="#{message.message}" 
	    		autoResize="false" 
	    		maxlength="400" 
	    		cols="35"
	    		required="true"
	    		requiredMessage="Текст позравления должен быть заполнен!" 
	    		rows="7">
	    		<f:validateLength minimum="4" maximum="400" />
	    	</p:inputTextarea>
	    	<p:message for="messageDescription" showDetail="true" />    	   			
						
			<!--  ################# ДОСТУПНОСТЬ ####################### -->
	    	<h:outputText value="Доступность" />
	    	<p:selectBooleanCheckbox value="#{message.available}"/>
	    	<h:outputText value=" " />
	    	
	    	<!--  ################# КАТЕГОРИЯ ####################### -->
	    	<h:outputText value="Категория" />
	    	<p:selectOneMenu id="messageTypeName" value="#{message.typeId}"
				 effect="fade" filter="true" filterMatchMode="startsWith">
				<f:selectItems value="#{message.types}" var="msg" itemLabel="#{msg.name}" itemValue="#{msg.id}" />
			</p:selectOneMenu>
	    	<p:message for="messageTypeName" showDetail="true" />

	    </h:panelGrid>
	    
	    <!--  КНОПКА ДОБАВИТЬ -->
    	<p:commandButton
    		value="Добавить" 
    		actionListener="#{messageDialog.submitAdd}" 
    		update=":dataTableForm:dataTable,createDialogForm, createDialog" 
    		validateClient="true"
    		icon="fa fa-check">
    	</p:commandButton>

		<!--  КНОПКА ОТМЕНА -->
    	<p:commandButton 
    		value="Отмена" 
    		onclick="hideCreateDialog()" 
    		icon="fa fa-close">
    	</p:commandButton>
    	
    	<!-- ОБРАБОТЧИК СООБЩЕНИЙ -->
	    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
    </h:form>
</p:dialog>   


<!--  ################# ДИАЛОГ РЕДАКТИРОВАНИЯ ПОЗДРАВЛЕНИЯ #######################-->
<p:dialog 
	id="editDialog"
	header="Редактировать поздравление" 
	widgetVar="editDialog" 
	modal="true" 
	width="700" 
	height="270"
	visible="#{messageDialog.display}"
	closeOnEscape="true"
	resizable="false">
    <h:form id="editDialogForm">

    	<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
    	
	    <h:panelGrid columns="3" cellpadding="5" style="vertical-align:bottom;">
	    	
	    	<!--  ################# СООБЩЕНИЕ ####################### -->
	    	<h:outputText value="Поздравление" />
	    	<p:inputTextarea 
	    		id="messageDescription" 
	    		value="#{message.message}" 
	    		autoResize="false" 
	    		maxlength="400" 
	    		cols="35"
	    		required="true"
	    		requiredMessage="Текст позравления должен быть заполнен!" 
	    		rows="7">
	    		<f:validateLength minimum="4" maximum="400" />
	    	</p:inputTextarea>
	    	<p:message for="messageDescription" showDetail="true" />   			
			
			
			<!--  ################# ДОСТУПНОСТЬ ####################### -->
	    	<h:outputText value="Доступность" />
	    	<p:selectBooleanCheckbox value="#{message.available}"/>
	    	<h:outputText value=" " />
	    	
	    	<!--  ################# КАТЕГОРИЯ ####################### -->
	    	<h:outputText value="Категория" />
	    	<p:selectOneMenu id="messageTypeName" value="#{message.typeId}"
				 effect="fade"  filter="true" filterMatchMode="startsWith" >
				<f:selectItems value="#{message.types}" var="msg" itemLabel="#{msg.name}" itemValue="#{msg.id}" />
			</p:selectOneMenu>
	    	<p:message for="messageTypeName" showDetail="true" />

	    </h:panelGrid>
	    
	    <!--  КНОПКА ДОБАВИТЬ -->
    	<p:commandButton
    		value="Изменить" 
    		update=":dataTableForm:dataTable,editDialogForm, editDialog" 
    		actionListener="#{messageDialog.submitUpdate}" 
    		validateClient="true"
    		icon="fa fa-check">
    	</p:commandButton>

		<!--  КНОПКА ОТМЕНА -->
    	<p:commandButton 
    		value="Отмена" 
    		onclick="PF('editDialog').hide();" 
    		actionListener="#{messageDialog.hide}" 
    		icon="fa fa-close">
    	</p:commandButton>
    	
    	<!-- ОБРАБОТЧИК СООБЩЕНИЙ -->
	    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
    </h:form>
</p:dialog>   


<p:confirmDialog global="true" showEffect="drop" hideEffect="drop">
    <p:commandButton value="Да" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
    <p:commandButton value="Нет" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
</p:confirmDialog>

</h:body>
</html>