<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style_admin.xhtml" />
</h:head>
<h:body>
		<h:form id="form">	
		<h:panelGrid cellpadding="5" columns="3">
			<p:link outcome="/admin/Dashboard.do" value="Назад" />
			<p:commandButton 
				value="Печатать" 
				icon="fa fa-print" 
				onclick="window.print();"
				immediate="true"/>
			<p:commandButton
				id="processingButton"
				value="Обработать" 
				icon="fa fa-print" 
				actionListener="#{orderOne.makeProcessing}"
				disabled="#{orderOne.isProcessable}"
				update="processingButton"
				immediate="true"/>
		</h:panelGrid>
		
		<p:panelGrid columns="2" style="width:700px;">
			<h:outputText value="Данные заказа" style="font-weight:bold;"/>
			<h:outputText value="Открытка" style="font-weight:bold;"/>
			
			<p:panelGrid columns="2" columnClasses="ui-c1-order, ui-c2-order">				
		       	<h:outputText value="Код заказа" />
				<p:column style="text-align:center;">		
	              		<p:outputLabel value="#{orderOne.object.id}" />
		        </p:column>
		        			        
				<h:outputText value="Дата и время заказа" />
				<p:column style="text-align:center;">		
	              		#{orderOne.object.tdate} в #{orderOne.object.ttime}
		        </p:column> 	
		        
		        <h:outputText value="Состояние" />
				<p:column style="text-align:center;">		
	              		#{orderOne.object.textStatus}
		        </p:column> 
		        
		        <h:outputText value="Адрес" />
				<p:column style="text-align:center;">		
	              		 #{orderOne.object.streetname}, д. #{orderOne.object.number}, кв. #{orderOne.object.room}
		        </p:column> 	
		        
		        <h:outputText value="Дата доставки" />
				<p:column style="text-align:center;">		
	              		 #{orderOne.object.deliveryDate}
		        </p:column> 	
		        
		        <h:outputText value="Время доставки" />
				<p:column style="text-align:center;">		
	              		 #{orderOne.object.formatStartTime} + 2 часа
		        </p:column> 
		        
		        <h:outputText value="Сумма заказа" />
				<p:column style="text-align:center;">		
	              		 #{orderOne.object.price} руб.
		        </p:column> 						
			</p:panelGrid>
			
			<p:panelGrid columns="2" columnClasses="ui-c1-design-st, ui-c2-design-st, ui-c3-design-st">				
				<h:outputText value="Номер открытки" />
				<p:column style="text-align:center;">		
	              		#{orderOne.object.postcardId}
		        </p:column> 	
		        
		        <h:outputText value="Отправитель" />
				<p:column style="text-align:center;">		
	              		 #{orderOne.object.sender}
		        </p:column> 	
		        
		        <h:outputText value="Получатель" />
				<p:column style="text-align:center;">		
	              		 #{orderOne.object.recipient}
		        </p:column> 
		        
		        <h:outputText value="Сообщение" />
				<p:column style="text-align:center;">		
	              		 #{orderOne.object.message}
		        </p:column> 							
			</p:panelGrid>
			
		</p:panelGrid>
		
		<h:outputText value="Данные заказчика" style="font-weight:bold;"/>
		<p:panelGrid columns="3" style="width:700px;">
			<p:column style="text-align:center;">		
	             		 #{orderOne.customer.lastName}
	        </p:column>
	        
	        <p:column style="text-align:center;">		
	             		 #{orderOne.customer.firstName}
	        </p:column>
	        
	       	<p:column style="text-align:center;">		
	             		 #{orderOne.customer.middleName}
	        </p:column>
	        
	       	<p:column style="text-align:center;">		
	             		 #{orderOne.customer.phonenumber}
	        </p:column>
	        
	       	<p:column style="text-align:center;">		
	             		 #{orderOne.customer.email}
	        </p:column>
	        
	        <p:column style="text-align:center;">		
	             		 #{orderOne.customer.referral}
	        </p:column>
		</p:panelGrid>
		
		<h:outputText value="Список подарков" style="font-weight:bold;"/>
		<p:dataTable var="pres" value="#{orderOne.presents}" style="width:700px;">
		    <p:column headerText="Код" style="width:50px;">
		        <h:outputText value="#{pres.id}"/>
		    </p:column>
		 
		    <p:column headerText="Название">
		        <h:outputText value="#{pres.name}" />
		    </p:column>
		 
		    <p:column headerText="Цена" style="width:100px;">
		        <h:outputText value="#{pres.price}" />
		    </p:column>
		</p:dataTable>
		
	</h:form>


</h:body>
</html>