<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style_admin.xhtml" />
</h:head>

<h:body>
<center>

	<p:layout fullPage="true">
	    <p:layoutUnit position="center" style="padding:0px;" footer="Copyright © Happyship.ru 2015  Все права защищены"  resizable="true">
			<ui:include src="/admin/elements/menu.xhtml" />
						
			<h:form id="dataTableForm">
			
			<!-- СООБЩЕНИЕ -->
			<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
			
				<!-- ТАБЛИЦА ОТКРЫТОК -->
			    <p:dataTable id="dataTable" value="#{postcard.list}" var="psc"
                 paginatorTemplate="{Topic}   {CreateButton} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                 paginator="true" rows="30" style="margin-bottom:20px">
				
					<!-- КНОПКА ДОБАВИТЬ В ШАПКЕ ТАБЛИЦЫ -->
					<f:facet name="{CreateButton}">
						<p:remoteCommand name="showCreateDialog" update=":createDialog, :createDialogForm" actionListener="#{postcard.clearValues}" />
						<p:remoteCommand name="hideCreateDialog" update=":createDialog" actionListener="#{postcardDialog.hide}" />
						<p:commandButton value="Добавить" actionListener="#{postcardDialog.show}" onclick="PF('createDialog').show()" icon="fa fa-plus">
							<p:ajax listener="#{postcard.clearValues}" update=":createDialogForm"/>
						</p:commandButton>			
					</f:facet>
					
					<f:facet name="{Topic}">
						<p:outputLabel value="Открытки" />
					</f:facet>
	 
	 				<!--  ################# КОД #######################-->
	 				<p:column width="60" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Код"/>
			            </f:facet>
			            <h:outputText value="#{psc.id}" />
			        </p:column>
	
	
			        <!--  ################# РЕДАКТИРОВАТЬ #######################-->
			        <p:column width="40" style="text-align:center;">
						<p:commandButton icon="fa fa-pencil-square" actionListener="#{postcardDialog.show}" onclick="PF('editDialog').show()">
							<p:ajax listener="#{postcard.setValues(psc)}" update=":editDialogForm"/>
						</p:commandButton>
			        </p:column> 
			        
			        <!--  ################# УДАЛИТЬ #######################-->
			        <p:column width="40" style="text-align:center;">
			            <p:commandButton update="dataTableForm" icon="fa fa-minus-circle">
			           		<p:confirm header="Подтверждение" message="Удалить эту открытку?" icon="fa fa-exclamation-triangle" />
	          				<p:ajax listener="#{postcard.delete(psc)}" update=":dataTableForm:msg :dataTableForm:dataTable"/>
	   					</p:commandButton>
			        </p:column>
			        	        
			        
			        <!--  ################# ДОСТУПНОСТЬ #######################-->
			        
			        <p:column width="100" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Доступность" />
			            </f:facet>
			            <p:selectBooleanCheckbox value="#{psc.available}" >
	          					<p:ajax event="valueChange" listener="#{postcard.update(psc)}" update=":dataTableForm:msg"/>
			            </p:selectBooleanCheckbox>
			        </p:column>      	                		        
			        
			       <!--  ################# ИЗОБРАЖЕНИЕ #######################-->
			       <p:column width="210" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Изображение" />
			            </f:facet>
			            
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			            	<f:facet name="output">
	                			<h:graphicImage url="#{psc.image}" width="200"/>
	            			</f:facet>
	            			<f:facet name="input">
	            				<p:inputText value="#{psc.image}" />
								<p:ajax event="save" listener="#{postcard.update(psc)}" update=":dataTableForm:msg"/>
	            			</f:facet>
						</p:inplace>
			       </p:column> 			        
			        	       
			       <!--  ################# НАЗВАНИЕ ОТКРЫТКИ #######################-->
			       <p:column>
			            <f:facet name="header">
			                <h:outputText value="Название" />
			            </f:facet>
			            	            
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			            	<f:facet name="output">
	                			#{psc.name}
	            			</f:facet>
	            			<f:facet name="input">
	            				<p:inputText value="#{psc.name}" />
								<p:ajax event="save" listener="#{postcard.update(psc)}" update=":dataTableForm:msg"/>
	            			</f:facet>
						</p:inplace>
						
			       </p:column>
			        		      		   		      	        
			    </p:dataTable>
			</h:form>
			
	    </p:layoutUnit>    
	</p:layout>
</center>

<!--  ################# ДИАЛОГ ДОБАВЛЕНИЯ ОТКРЫТКИ #######################-->
<p:dialog 
	id="createDialog"
	header="Добавить открытку" 
	widgetVar="createDialog" 
	modal="true" 
	width="700" 
	height="170"
	visible="#{postcardDialog.display}"
	closeOnEscape="true"
	resizable="false">
	
	<!-- ФОРМА ДОБАВЛЕНИЯ ОТКРЫТКИ -->
    <h:form id="createDialogForm">

		<!-- СООБЩЕНИЕ -->
    	<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
    	
	    <h:panelGrid columns="3" cellpadding="5" style="vertical-align:bottom;">    	
	    	
	    	<!--  ################# НАЗВАНИЕ ####################### -->
	    	<h:outputText value="Название" />
	    	<p:inputText
	    		id="postcardName" 
	    		value="#{postcard.name}" 
	    		maxlength="300" 
	    		required="true"
	    		requiredMessage="Название открытки должно быть заполнено!" 
	    		size="40">
	    		<f:validateLength minimum="2" maximum="300" />
	    	</p:inputText>
	    	<p:message for="postcardName" showDetail="true" />    	   			
									
			<!--  ################# ИЗОБРАЖЕНИЕ ####################### -->
	    	<h:outputText value="URL Изображения" />
	    	<p:inputText
	    		id="postcardImage" 
	    		value="#{postcard.image}" 
	    		maxlength="700" 
	    		required="true"
	    		requiredMessage="URL Изображениzя открытки должн быть заполнен!" 
	    		size="40">
	    		<f:validateLength minimum="5" maximum="700" />
	    	</p:inputText>
	    	<p:message for="postcardImage" showDetail="true" />   			
						
			<!--  ################# ДОСТУПНОСТЬ ####################### -->
	    	<h:outputText value="Доступность" />
	    	<p:selectBooleanCheckbox value="#{postcard.available}"/>
	    	<h:outputText value=" " />
	    </h:panelGrid>
	    
	    <!--  КНОПКА ДОБАВИТЬ -->
    	<p:commandButton
    		value="Добавить" 
    		actionListener="#{postcardDialog.submitAdd}" 
    		update=":dataTableForm:dataTable,createDialogForm, createDialog" 
    		validateClient="true"
    		icon="fa fa-check">
    	</p:commandButton>

		<!--  КНОПКА ОТМЕНА -->
    	<p:commandButton 
    		value="Отмена" 
    		onclick="hideCreateDialog()" 
    		icon="fa fa-close">
    	</p:commandButton>
    	
    	<!-- ОБРАБОТЧИК СООБЩЕНИЙ -->
	    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
    </h:form>
</p:dialog>   


<!--  ################# ДИАЛОГ РЕДАКТИРОВАНИЯ ПОЗДРАВЛЕНИЯ #######################-->
<p:dialog 
	id="editDialog"
	header="Редактировать поздравление" 
	widgetVar="editDialog" 
	modal="true" 
	width="700" 
	height="170"
	visible="#{postcardDialog.display}"
	closeOnEscape="true"
	resizable="false">
    <h:form id="editDialogForm">

		<!-- СООБЩЕНИЕ -->
    	<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
    	
	    <h:panelGrid columns="3" cellpadding="5" style="vertical-align:bottom;">    	
	    	
	    	<!--  ################# НАЗВАНИЕ ####################### -->
	    	<h:outputText value="Название" />
	    	<p:inputText
	    		id="postcardName" 
	    		value="#{postcard.name}" 
	    		maxlength="300" 
	    		required="true"
	    		requiredMessage="Название открытки должно быть заполнено!" 
	    		size="40">
	    		<f:validateLength minimum="2" maximum="300" />
	    	</p:inputText>
	    	<p:message for="postcardName" showDetail="true" />    	   			
									
			<!--  ################# ИЗОБРАЖЕНИЕ ####################### -->
	    	<h:outputText value="URL Изображения" />
	    	<p:inputText
	    		id="postcardImage" 
	    		value="#{postcard.image}" 
	    		maxlength="700" 
	    		required="true"
	    		requiredMessage="URL Изображениzя открытки должн быть заполнен!" 
	    		size="40">
	    		<f:validateLength minimum="5" maximum="700" />
	    	</p:inputText>
	    	<p:message for="postcardImage" showDetail="true" />   			
						
			<!--  ################# ДОСТУПНОСТЬ ####################### -->
	    	<h:outputText value="Доступность" />
	    	<p:selectBooleanCheckbox value="#{postcard.available}"/>
	    	<h:outputText value=" " />
	    </h:panelGrid>
	    
	    <!--  КНОПКА ДОБАВИТЬ -->
    	<p:commandButton
    		value="Изменить" 
    		update=":dataTableForm:dataTable,editDialogForm, editDialog" 
    		actionListener="#{postcardDialog.submitUpdate}" 
    		validateClient="true"
    		icon="fa fa-check">
    	</p:commandButton>

		<!--  КНОПКА ОТМЕНА -->
    	<p:commandButton 
    		value="Отмена" 
    		onclick="PF('editDialog').hide();" 
    		actionListener="#{postcardDialog.hide}" 
    		icon="fa fa-close">
    	</p:commandButton>
    	
    	<!-- ОБРАБОТЧИК СООБЩЕНИЙ -->
	    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
    </h:form>
</p:dialog>   


<p:confirmDialog global="true" showEffect="drop" hideEffect="drop">
    <p:commandButton value="Да" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
    <p:commandButton value="Нет" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
</p:confirmDialog>

</h:body>
</html>