<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style_admin.xhtml" />
</h:head>

<h:body>
<center>

	<p:layout fullPage="true">
	    <p:layoutUnit position="center" style="padding:0px;" footer="Copyright © Happyship.ru 2015  Все права защищены"  resizable="true">
				
			<ui:include src="/admin/elements/menu.xhtml" />
						
			<h:form id="dataTableForm">
			
			<p:growl life="2500" for="msg" showDetail="false" id="msg" />
			
			    <p:dataTable id="dataTable" var="ptype" value="#{presentType.list}"
                 paginatorTemplate="{Topic}   {Exporters} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                 paginator="true" rows="30" style="margin-bottom:20px">
				
				<f:facet name="{Exporters}">
					<p:remoteCommand name="showDialog" update=":createDialog" actionListener="#{presentTypeDialog.show}" />
					<p:remoteCommand name="hideDialog" update=":createDialog" actionListener="#{presentTypeDialog.hide}" />
					<p:commandButton value="Добавить" type="button" onclick="showDialog();" icon="fa fa-plus"/>				
				</f:facet>
				
				<f:facet name="{Topic}">
					<p:outputLabel value="Категории подарков" />
				</f:facet>
 				 
 				 	<!--  ################# КОД #######################-->
			        <p:column width="60" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Код"/>
			            </f:facet>
			            <h:outputText value="#{ptype.id}" />
			        </p:column>
			        
			        <!--  ################# УДАЛИТЬ #######################-->
			        <p:column width="40" style="text-align:center;">
			            <p:commandButton update="dataTableForm" icon="fa fa-minus-circle">
			            	<p:confirm header="Подтверждение" message="Удалить эту категорию?" icon="fa fa-exclamation-triangle" />
		         			<p:ajax listener="#{presentType.delete(ptype)}" update="dataTable :dataTableForm:msg"/>
		  				</p:commandButton>
			        </p:column>		
			        	        
			        <!--  ################# ДОСТУПНОСТЬ #######################-->
			        <p:column width="100" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Доступность" />
			            </f:facet>
			            <p:selectBooleanCheckbox value="#{ptype.available}" >
           					<p:ajax event="valueChange" listener="#{presentType.update(ptype)}" update=":dataTableForm:msg"/>
			            </p:selectBooleanCheckbox>
			        </p:column>

					<!--  ################# ПОРЯДОК #######################-->
			        <p:column width="100" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Порядок" />
			            </f:facet>
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			           		<p:spinner value="#{ptype.order}" min="0" max="100"  size="5"/>
			           		<p:ajax 
			           			event="save" 
			           			listener="#{presentType.update(ptype)}" 
			           			update=":dataTableForm:msg :dataTableForm:dataTable"/>
        				</p:inplace>
			        </p:column>
			        
			        <!--  ################# НАЗВАНИЕ #######################-->	       
			        <p:column>
			            <f:facet name="header">
			                <h:outputText value="Название" />
			            </f:facet>
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
            				<p:inputText value="#{ptype.name}" required="true" label="text"/>
            				<p:ajax event="save" listener="#{presentType.update(ptype)}" update=":dataTableForm:msg"/>
        				</p:inplace>
			        </p:column>  
			        	        
			    </p:dataTable>

			</h:form>
	    </p:layoutUnit>
	    
	</p:layout>
</center>

<!--  ################# ДИАЛОГ ДОБАВЛЕНИЯ НОВОЙ КАТЕГОРИИ #######################-->
<p:dialog 
	id="createDialog"
	header="Добавить новую категорию подарков" 
	widgetVar="createDialog" 
	modal="true" width="550" height="200"
	
	visible="#{presentTypeDialog.display}"
	closeOnEscape="true"
	resizable="false">
    <h:form id="createDialogForm">

    	<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
    	
	    <h:panelGrid columns="2" cellpadding="5">

	    	<h:outputText value=" " />
	    	<p:message for="presentTypeName" showDetail="true" />
	    	
	    	<h:outputText value="Название категории" />
	    	<p:inputText  
	    		id="presentTypeName"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{presentType.name}" 
	    		validatorMessage="Название категории от 3 до 300 символов" 
	    		required="true"
	    		requiredMessage="Название категории должно быть заполнено!">
	    		<f:validateLength minimum="3" maximum="300" /> 
	    	</p:inputText>
	    	 
			<h:outputText value="Порядок" />
	    	<p:spinner value="#{presentType.order}" min="0" max="100" />
	    	
	    	<h:outputText value="Доступность" />
	    	<p:selectBooleanCheckbox value="#{presentType.available}"/>
	    	
	    </h:panelGrid>
	    
    	<p:commandButton
    		value="Добавить" 
    		actionListener="#{presentTypeDialog.submitDialog}" 
    		update=":dataTableForm:dataTable,createDialogForm, createDialog" 
    		validateClient="true"
    		icon="fa fa-check">
    	</p:commandButton>

    	<p:commandButton 
    		value="Отмена" 
    		onclick="hideDialog()" 
    		icon="fa fa-close">
    	</p:commandButton>
	    	
	    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
    </h:form>
</p:dialog>   

<p:confirmDialog global="true" showEffect="drop" hideEffect="drop">
    <p:commandButton value="Да" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
    <p:commandButton value="Нет" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
</p:confirmDialog>

</h:body>
</html>