<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style_admin.xhtml" />
</h:head>

<h:body>
<center>

	<p:layout fullPage="true">
	    <p:layoutUnit position="center" style="padding:0px;" footer="Copyright © Happyship.ru 2015  Все права защищены"  resizable="true">
			<ui:include src="/admin/elements/menu.xhtml" />
						
			<h:form id="dataTableForm">
			
			<!-- СООБЩЕНИЕ -->
			<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
			
				<!-- ТАБЛИЦА ПОДАРКОВ -->
			    <p:dataTable id="dataTable" value="#{present.list}" var="pobj"
                 paginatorTemplate="{Topic}   {CreateButton} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                 paginator="true" rows="30" style="margin-bottom:20px">
				
					<!-- КНОПКА ДОБАВИТЬ В ШАПКЕ ТАБЛИЦЫ -->
					<f:facet name="{CreateButton}">
						<p:remoteCommand name="showCreateDialog" update=":createDialog, :createDialogForm" actionListener="#{present.clearValues}" />
						<p:remoteCommand name="hideCreateDialog" update=":createDialog" actionListener="#{presentDialog.hide}" />
						<p:commandButton value="Добавить" actionListener="#{presentDialog.show}" onclick="PF('createDialog').show()" icon="fa fa-plus">
							<p:ajax listener="#{present.clearValues}" update=":createDialogForm"/>
						</p:commandButton>			
					</f:facet>
					
					<f:facet name="{Topic}">
						<p:outputLabel value="Список подарков" />
					</f:facet>
	 
	 				<!--  ################# КОД #######################-->
	 				<p:column width="60" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Код"/>
			            </f:facet>
			            <h:outputText value="#{pobj.id}" />
			        </p:column>
	
	
			        <!--  ################# РЕДАКТИРОВАТЬ #######################-->
			        <p:column width="40" style="text-align:center;">
						<p:commandButton icon="fa fa-pencil-square" actionListener="#{presentDialog.show}" onclick="PF('editDialog').show()">
							<p:ajax listener="#{present.setValues(pobj)}" update=":editDialogForm"/>
						</p:commandButton>
			        </p:column> 
			        
			        <!--  ################# УДАЛИТЬ #######################-->
			        <p:column width="40" style="text-align:center;">
			            <p:commandButton update="dataTableForm" icon="fa fa-minus-circle">
			           		<p:confirm header="Подтверждение" message="Удалить этот подарок?" icon="fa fa-exclamation-triangle" />
	          				<p:ajax listener="#{present.delete(pobj)}" update=":dataTableForm:msg :dataTableForm:dataTable"/>
	   					</p:commandButton>
			        </p:column>
			        	        
			        
			        <!--  ################# ДОСТУПНОСТЬ #######################-->
			        
			        <p:column width="100" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Доступность" />
			            </f:facet>
			            <p:selectBooleanCheckbox value="#{pobj.available}" >
	          					<p:ajax event="valueChange" listener="#{present.update(pobj)}" update=":dataTableForm:msg"/>
			            </p:selectBooleanCheckbox>
			        </p:column>      
	       
			       <!--  ################# СТОМОСТЬ #######################-->
			        <p:column width="150" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Стоимость" />
			            </f:facet>
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			                <f:facet name="output">
	                			#{pobj.price} руб.
	            			</f:facet>
	            			
			                <f:facet name="input">
					            <p:spinner id="presentPrice" value="#{pobj.price}" min="0" max="10000" suffix=" руб." size="10"/>
	            			</f:facet>
	            			<p:ajax event="save" listener="#{present.update(pobj)}" update=":dataTableForm:msg"/>
	       				</p:inplace>
			        </p:column> 
	
			       <!--  ################# КОЛИЧЕСТВО #######################-->
			        <p:column width="150" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Количество" />
			            </f:facet>
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
			                <f:facet name="output">
	                			#{pobj.amount} шт.
	            			</f:facet>
	            			
			                <f:facet name="input">
					            <p:spinner id="presentAmount" value="#{pobj.amount}" min="0" max="10000" suffix=" шт." size="10" />
	            			</f:facet>
	            			<p:ajax event="save" listener="#{present.update(pobj)}" update=":dataTableForm:msg"/>
	       				</p:inplace>
			        </p:column> 		                		        
			        	       
			       <!--  ################# НАЗВАНИЕ #######################-->
			       <p:column>
			            <f:facet name="header">
			                <h:outputText value="Название" />
			            </f:facet>
			            <p:inplace  editor="true" saveLabel="Сохранить" cancelLabel="Отмена">
	           				<p:inputText value="#{pobj.name}" required="true" label="text" />
	           				<p:ajax event="save" listener="#{present.update(pobj)}" update=":dataTableForm:msg"/>
	       				</p:inplace>
			        </p:column> 
			   
			        <!--  ################# КАТЕГОРИЯ #######################-->
			        
			        <p:column width="200" style="text-align:center;">
			            <f:facet name="header">
			                <h:outputText value="Категория" />
			            </f:facet>
						<p:outputLabel value="#{pobj.typeName}" />
			        </p:column> 		      		   		      	        
			    </p:dataTable>
			</h:form>
			
	    </p:layoutUnit>    
	</p:layout>
</center>

<!--  ################# ДИАЛОГ ДОБАВЛЕНИЯ ПОДАРКА #######################-->
<p:dialog 
	id="createDialog"
	header="Добавить новый подарок" 
	widgetVar="createDialog" 
	modal="true" 
	width="900" 
	height="400"
	visible="#{presentDialog.display}"
	closeOnEscape="true"
	resizable="false">
	
	<!-- ФОРМА ДОБАВЛЕНИЯ ПОДАРКА -->
    <h:form id="createDialogForm">

		<!-- СООБЩЕНИЕ -->
    	<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
    	
	    <h:panelGrid columns="3" cellpadding="5" style="vertical-align:bottom;">
	    	
	    	<!--  ################# НАЗВАНИЕ ####################### -->
	    	<h:outputText value="Название" />
	    	<p:inputText  
	    		id="presentName"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{present.name}" 
	    		validatorMessage="Название подарка от 3 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Название подарка должно быть заполнено!">
	    		<f:validateLength minimum="3" maximum="300" /> 
	    	</p:inputText>
	    	<p:message for="presentName" showDetail="true" />
	    	
	    	
	    	<!--  ################# ОПИСАНИЕ ####################### -->
	    	<h:outputText value="Описание" />
	    	<p:inputTextarea 
	    		id="presentDescription"
	    		rows="5" cols="50" 
	    		value="#{present.description}"/>
	    	<p:message for="presentDescription" showDetail="true" />
	    	
	    	
	    	<!--  ################# ИЗОБРАЖЕНИЕ ####################### -->
	    	<h:outputText value="Изображение" />
	    	<p:inputText  
	    		id="presentImageurl"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{present.imageurl}" 
	    		validatorMessage="Ссылка размером от 5 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Ссылка должна быть введена!">
	    		<f:validateLength minimum="5" maximum="300" /> 
	    	</p:inputText>
	    	<p:message for="presentImageurl" showDetail="true" />
	    	
	    	
	    	<!--  ################# КАТЕГОРИЯ ####################### -->
	    	<h:outputText value="Категория" />
	    	<p:selectOneMenu id="presentTypeName" value="#{present.typeId}" panelStyle="width:250px"
				 effect="fade" style="width:240px" filter="true" filterMatchMode="startsWith" >
				<f:selectItems value="#{present.types}" var="ptype" itemLabel="#{ptype.name}" itemValue="#{ptype.id}" />
			</p:selectOneMenu>
	    	<p:message for="presentTypeName" showDetail="true" />
	    	 
	    	 
	    	 <!--  ################# КОЛИЧЕСТВО ####################### -->
	    	<h:outputText value="Количество" />
	    	<p:spinner id="presentAmount" value="#{present.amount}" min="0" max="10000" suffix=" шт."/>
	    	<p:message for="presentAmount" showDetail="true" />
	    	
	    	
	    	<!--  ################# СТОИМОСТЬ ####################### -->
	    	<h:outputText value="Стоимость" />
	    	<p:spinner id="presentPrice" value="#{present.price}" min="0" max="10000" suffix=" руб." />
	    	<p:message for="presentPrice" showDetail="true" />
	    	
	    	
	    	<!--  ################# СЛОЖНОСТЬ ####################### -->
	    	<h:outputText value="Сложность" />
	    	<p:selectOneMenu value="#{present.complexity}" style="width:200px">
	            <f:selectItem itemLabel="Уровень 1" itemValue="1" />
	            <f:selectItem itemLabel="Уровень 2" itemValue="2" />
	            <f:selectItem itemLabel="Уровень 3" itemValue="3" />
	            <f:selectItem itemLabel="Уровень 4" itemValue="4" />
	            <f:selectItem itemLabel="Уровень 5" itemValue="5" />
        	</p:selectOneMenu>
			<h:outputText value=" " />
			
			
			<!--  ################# ДОСТУПНОСТЬ ####################### -->
	    	<h:outputText value="Доступность" />
	    	<p:selectBooleanCheckbox value="#{present.available}"/>
	    	<h:outputText value=" " />

	    </h:panelGrid>
	    
	    <!--  КНОПКА ДОБАВИТЬ -->
    	<p:commandButton
    		value="Добавить" 
    		actionListener="#{presentDialog.submitAdd}" 
    		update=":dataTableForm:dataTable,createDialogForm, createDialog" 
    		validateClient="true"
    		icon="fa fa-check">
    	</p:commandButton>

		<!--  КНОПКА ОТМЕНА -->
    	<p:commandButton 
    		value="Отмена" 
    		onclick="hideCreateDialog()" 
    		icon="fa fa-close">
    	</p:commandButton>
    	
    	<!-- ОБРАБОТЧИК СООБЩЕНИЙ -->
	    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
    </h:form>
</p:dialog>   


<!--  ################# ДИАЛОГ РЕДАКТИРОВАНИЯ ПОДАРКА #######################-->
<p:dialog 
	id="editDialog"
	header="Редактировать подарок" 
	widgetVar="editDialog" 
	modal="true" 
	width="900" 
	height="400"
	visible="#{presentDialog.display}"
	closeOnEscape="true"
	resizable="false">
    <h:form id="editDialogForm">

    	<p:growl life="2500" for="msg" showDetail="false" id="msg"/>
    	
	    <h:panelGrid columns="3" cellpadding="5" style="vertical-align:bottom;">
	    	
	    	<!--  ################# НАЗВАНИЕ ####################### -->
	    	<h:outputText value="Название" />
	    	<p:inputText  
	    		id="presentName"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{present.name}" 
	    		validatorMessage="Название подарка от 3 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Название подарка должно быть заполнено!">
	    		<f:validateLength minimum="3" maximum="300" /> 
	    	</p:inputText>
	    	<p:message for="presentName" showDetail="true" />
	    	
	    	
	    	<!--  ################# ОПИСАНИЕ ####################### -->
	    	<h:outputText value="Описание" />
	    	<p:inputTextarea 
	    		id="presentDescription"
	    		rows="5" cols="50" 
	    		value="#{present.description}" 
	    	/>
	    	<p:message for="presentDescription" showDetail="true" />
	    	
	    	<!--  ################# ИЗОБРАЖЕНИЕ ####################### -->
	    	<h:outputText value="Изображение" />
	    	<p:inputText  
	    		id="presentImageurl"
	    		maxlength="300" 
	    		size="50" 
	    		value="#{present.imageurl}" 
	    		validatorMessage="Ссылка размером от 5 до 300 символов!" 
	    		required="true"
	    		requiredMessage="Ссылка должна быть введена!">
	    		<f:validateLength minimum="5" maximum="300" /> 
	    	</p:inputText>
	    	<p:message for="presentImageurl" showDetail="true" />
	    	
	    	
	    	<!--  ################# КАТЕГОРИЯ ####################### -->
	    	<h:outputText value="Категория" />
	    	<p:selectOneMenu id="presentTypeName" value="#{present.typeId}" panelStyle="width:250px"
				 effect="fade" style="width:240px" filter="true" filterMatchMode="startsWith" >
				<f:selectItems value="#{present.types}" var="ptype" itemLabel="#{ptype.name}" itemValue="#{ptype.id}" />
			</p:selectOneMenu>
	    	<p:message for="presentTypeName" showDetail="true" />
	    	 
	    	 
	    	 <!--  ################# КОЛИЧЕСТВО ####################### -->
	    	<h:outputText value="Количество" />
	    	<p:spinner id="presentAmount" value="#{present.amount}" min="0" max="10000" suffix=" шт."/>
	    	<p:message for="presentAmount" showDetail="true" />
	    	
	    	
	    	<!--  ################# СТОИМОСТЬ ####################### -->
	    	<h:outputText value="Стоимость" />
	    	<p:spinner id="presentPrice" value="#{present.price}" min="0" max="10000" suffix=" руб." />
	    	<p:message for="presentPrice" showDetail="true" />
	    	
	    	
	    	<!--  ################# СЛОЖНОСТЬ ####################### -->
	    	<h:outputText value="Сложность" />
	    	<p:selectOneMenu value="#{present.complexity}" style="width:200px">
	            <f:selectItem itemLabel="Уровень 1" itemValue="1" />
	            <f:selectItem itemLabel="Уровень 2" itemValue="2" />
	            <f:selectItem itemLabel="Уровень 3" itemValue="3" />
	            <f:selectItem itemLabel="Уровень 4" itemValue="4" />
	            <f:selectItem itemLabel="Уровень 5" itemValue="5" />
        	</p:selectOneMenu>
			<h:outputText value=" " />
			
			
			<!--  ################# ДОСТУПНОСТЬ ####################### -->
	    	<h:outputText value="Доступность" />
	    	<p:selectBooleanCheckbox value="#{present.available}"/>
	    	<h:outputText value=" " />

	    </h:panelGrid>
	    	<p:commandButton
	    		value="Изменить" 
	    		update=":dataTableForm:dataTable,editDialogForm, editDialog" 
	    		actionListener="#{presentDialog.submitUpdate}"
	    		validateClient="true"
	    		icon="fa fa-check">
	    	</p:commandButton>

	    	<p:commandButton 
	    		value="Отмена" 
	    		onclick="PF('editDialog').hide();" 
	    		actionListener="#{presentDialog.hide}"
	    		icon="fa fa-close">
	    	</p:commandButton>
	    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
    </h:form>
</p:dialog>   


<p:confirmDialog global="true" showEffect="drop" hideEffect="drop">
    <p:commandButton value="Да" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
    <p:commandButton value="Нет" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
</p:confirmDialog>

</h:body>
</html>