<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="Время ожидания истекло!" widgetVar="sessionExpired" modal="true" closable="false" resizable="false">
		<center>
			<h:panelGrid columns="1" cellpadding="5">
				<h:outputText value="Время вашей сессии истекло! Необходимо обновить страницу!" styleClass="msg-topic-app" /><br/>
			    <p:commandButton action="#{navigator.toDashboard}" value="Обновить страницу" immediate="true" icon="fa fa-refresh"/>
			</h:panelGrid>
	    </center>
	</p:dialog>   
	
	<p:idleMonitor timeout="3000">
	    <p:ajax event="idle" onsuccess="PF('sessionExpired').show()" />
	</p:idleMonitor>
</ui:composition>