<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<style>
		@import url(//fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,cyrillic);
		BODY {
			font-family: "Open Sans", sans-serif;
			font-size:13px;
		}
		
		p {
			font-size:20px;
		}
		h1,h2,h3,p,
		a, a:HOVER, a:ACTIVE, a:VISITED, a:LINK,
		.ui-dialog-title, 
		.ui-dialog-content,
		.ui-button-text,
		.ui-galleria-caption,
		.ui-layout-unit-footer-title,
		.ui-column-title,
		.ui-growl-title
		{
			font-family: "Open Sans", sans-serif;
		}
		
		.ui-galleria-caption {
			font-family: "Open Sans", sans-serif;
		}
		.ui-button-text {
			font-size:13px;
		}
		.fa-close, .fa-minus-circle
		{
			color:#8A0808;
		}
		.fa-pencil-square
		{
			color:#0B2161;
		}
		.fa-check
		{
			color:#04B45F;
		}
		.fa-exclamation-triangle
		{
			color:#FFBF00;
		}
		.fa-cubes
		{
			color:#3B170B;
		}
		.fa-link
		{
			color:#04B45F;
		}
		.fa-unlink
		{
			color:#848484;
		}
		.ui-c1-design-st
		{
		} 
		.ui-c2-design-st
		{
			width: 300px;
		} 
		
		.ui-status
		{
			width: 200px;
			text-align:center;
		}
		.ui-status-waiting {
			background: #FFFF00;
			color:black;
		}
		.ui-status-processing {
			background: #FFCC00;
			color:black;			
		}
		.ui-status-shipping {
			background: #9900CC;
			color:white;		
		}
		.ui-status-shipped {
			background: #CCFF66;
			color:while;
		}
		.ui-status-violation {
			background: #CC0033;
			color:white;
		}
		.ui-status-unpaid {
			background: gray;
			color:white;
		}
		.ui-status-fail {
			background: black;
			color:white;
		}
		.ui-c1-order
		{
		}
		.ui-c2-order
		{
			width: 300px;
		}
	</style>
</ui:composition>