<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<style>
		@import url(//fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,cyrillic);
		@import url(//fonts.googleapis.com/css?family=Exo+2&amp;subset=latin,cyrillic);
		
		BODY {
			background-color: \##{design.bgColor};
			background-image: url('#{design.bgImage}');
			background-attachment: #{design.bgAttach};
			background-repeat: #{design.bgRepeat};
			background-position: #{design.bgPosX}% #{design.bgPosY}%;
			font-family: 'Open Sans', sans-serif;
			font-size:13px;
		}
		p {
			font-size:20px;
			font-family: 'Open Sans', sans-serif;
		}
		.p-header
		{
			padding: 10px;
			background: #FFFFCC;
		}
		.p-messages
		{
			text-align:left;
			font-size:15px;
		}
		h1,h2,h3 {
			font-family: 'Exo 2', sans-serif;
		}
		
		.ui-galleria-caption {
			font-family: 'Open Sans', sans-serif;
		}
		.ui-galleria-caption {
			font-family: 'Open Sans', sans-serif;
		}
		.page-button {
			font-size:30px !important;
			font-family: 'Open Sans', sans-serif;
		}
		.msg-topic-app {
			font-size:20px;
			font-family: 'Open Sans', sans-serif;
		}
		.msg-comment-app {
			font-size:15px;
			color:gray;
			font-family: 'Open Sans', sans-serif;
		}
		.msg-app {
			width:100%;
			font-size:18px;
			text-align:center;
			vertical-align: top;
		}
		
		a, a:HOVER, a:ACTIVE, a:VISITED, a:LINK {
			text-decoration: none;
			font-family: 'Open Sans', sans-serif;
		}
		
		.ui-next-button {
			font-size: 20px !important;
			font-family: 'Open Sans', sans-serif;
		}
		.ui-select-button
		{
			font-size: 17px !important;
		}
		.ui-accordion{
			color: #C2DFFF;
			background-color: #3BB9FF; 
			background-position: center center; 
			background-repeat: no-repeat; 
			/* Safari 4-5, Chrome 1-9 */ 
			background: -webkit-gradient(radial, center center, 0, center center, 460, from(#C2DFFF), to(#3BB9FF));
			/* Safari 5.1+, Chrome 10+ */ 
			background: -webkit-radial-gradient(circle, #C2DFFF, #3BB9FF); 
			/* Firefox 3.6+ */ 
			background: -moz-radial-gradient(circle, #C2DFFF, #3BB9FF); 
			/* IE 10 */ 
			background: -ms-radial-gradient(circle, #C2DFFF, #3BB9FF); 
		}
		.ui-accordion-header{
			font-size: 23px;
			color: #1f6fe8;
			font-family: 'Exo 2', sans-serif;
			border: solid 2px #1f6fe8;
		}
		.fa-check
		{
			color:#04B45F;
		}
		.fa-unlink
		{
			color:#848484;
		}
		.noSelected {
			text-align:center !important;
			width:98%;
			border: solid 2px #c1ffe8;
		}
		.noSelected:HOVER{
			border: solid 2px #00fefe;
			background: #eafff7;
		}
		.selected {
			border: solid 2px #1f6fe8;
			width:98%;
			background: #E0F2F7;
		}
		.selected:HOVER{
			text-align:center !important;
			background: #CEE3F6;
			border: solid 2px #1f6fe8;
		}
				
		.mainPageLayout  {
			width: 1000px;
			min-height:100px;
			height: 2000px;
		}
		.ui-carousel-header {
			background: #eafff7;
		}
		.ui-selectonemenu, 
		.ui-selectonemenu-label,
		.ui-selectonemenu-trigger,
		.ui-selectonemenu-items
		{
			font-size:20px;
			font-family: 'Open Sans', sans-serif;
		}
		
		.ui-button-text 
		.ui-messages-warn-detail
		{
			font-family: 'Open Sans', sans-serif !important;
		}
		.ui-layout-unit-footer-title 
		.ui-messages-warn-summary 
		{
			font-family: 'Exo 2', sans-serif !important;
		}
		
		.ui-state-active {
			background-color: #81BEF7 !important;
		}
		
		.ui-state-active:HOVER {
			background-color: #81BEF7 !important;
		}

		.msg-topic-free
		{
			width:100%;
			text-align: left !important;
		}

		.ui-message-box
		{
			background-image: url('images/mail-back.jpg') !important;
		}
		.ui-go-previous-page
		{
			text-align:left;
		}
		.ui-go-next-page
		{
			text-align:right;
		}
		.ui-messages-error-summary,
		.ui-messages-warn-summary
		{
			font-family: 'Exo 2', sans-serif !important;
		}
		.ui-payment
		{
			font-size: 20px !important;
		}
		.ui-payment .ui-button:nth-child(1)
		{
			background: url("images/payment/yad-money-icon.png") no-repeat;
			background-position: bottom;
			width: 256px;
			height: 130px;
		}
		.ui-payment .ui-button:nth-child(2)
		{
			background: url("images/payment/bank-card-icon.png") no-repeat;
			background-position: bottom;
			width: 256px;
			height: 130px;
		}
		
		.ui-standart-cmd
		{
			font-size: 15px !important;
			font-family: 'Open Sans', sans-serif !important;
		}
	</style>
</ui:composition>