<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
		<h:form> 
		    <p:growl id="messages"/>
		    
		    <p:menubar>
		        <p:submenu label="Редактировать" icon="fa fa-edit">
		            
		            <p:submenu label="Подарки" icon="ui-icon-cart">
		        		<p:menuitem value="Категории" url="/admin/PresentTypes.do" />
		                <p:menuitem value="Список" url="/admin/Presents.do" />
		            </p:submenu>
		            
		            <p:submenu label="Тексты" icon="ui-icon-script">
		                <p:menuitem value="Категории" url="/admin/MessageTypes.do" />
		                <p:menuitem value="Список" url="/admin/Messages.do" />
		            </p:submenu>

					<p:menuitem value="Открытки" url="/admin/Postcards.do" icon="fa fa-image"/>
		            <p:menuitem value="Курьеры" url="#" icon="ui-icon-person"/>
		            <p:menuitem value="Контрагенты" url="/admin/Counterparties.do" icon="ui-icon-tag"/>
		        </p:submenu>
		 
		        <p:submenu label="Информация" icon="fa fa-hdd-o">
		            <p:menuitem value="Пусто" url="#" icon="ui-icon-arrowreturnthick-1-w" />
		        </p:submenu>
		 
		        <p:submenu label="Аналитика" icon="fa fa-bar-chart-o">
		            <p:menuitem value="Пусто" url="#" />
		        </p:submenu>
		        
		        <p:submenu label="Настройки" icon="fa fa-gears">
		            <p:menuitem value="Дизайн" url="/admin/DesignSettings.do" icon="fa fa-magic"/>
		            <p:menuitem value="Продажи" url="#" icon="fa fa-usd"/>
		        </p:submenu>
		 
		        <p:menuitem value="Заказы" url="/admin/Dashboard.do" icon="fa fa-rocket" />

		        <f:facet rows="2" name="options" >
		        	<h:form>
		        		<h:panelGrid columns="5" cellpadding="0" cellspacing="0">
		        			<h:outputText value="#{profile.firstName} #{profile.lastName}" />
		        			<p:clock pattern="HH:mm:ss dd.MM.yyyy" mode="server" />
		        			<p:commandButton value="Удалить сессию" icon="fa fa-ge" action="#{profile.clearSession}"/>
		            		<p:commandButton value="Выход" icon="fa fa-external-link" action="#{profile.logout}" />
		            	</h:panelGrid>
		            </h:form>
		        </f:facet>
		    </p:menubar>
		 
		</h:form>
		
</ui:composition>		