<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head></h:head>
	<h:body>
		<form action="CheckOrderDemo.do" method="post">
			<input type="hidden" name="action" value="checkOrder"/>
			<input type="hidden" name="orderSumAmount" value="202"/>
			<input type="hidden" name="orderSumCurrencyPaycash" value="122"/>
			<input type="hidden" name="orderSumBankPaycash" value="10056"/>
			<input type="hidden" name="shopId" value="45667"/>
			<input type="submit" />
		</form>
	</h:body>
</html>