<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style.xhtml" />
	<title>Подарки от 999 рублей, доставим за 2 часа!</title>
	<meta name="description" content="Подарки от 999 рублей, доставим за 2 часа!" />
	<meta name="keywords" content="Бесплатно, подарки, подарок, доставка, доставить, оригинальные, необычные, 2 часа" />
	<meta name="author" content="Ivan Ermolaev" />
</h:head>
<h:body>

<center>
	<img src="#{design.logoImage}" />
	<br /><br />

	<p:layout style="width:90%;min-width:1000px;height:700px;">
		
	    
	    <p:layoutUnit position="center" style="padding:20px;" footer="Copyright © Happyship.ru 2015  Все права защищены"  resizable="true">
		
			<br />
			<h1>Как мы работаем</h1>
			<div class="ui-grid ui-grid-responsive" width="100%">
			    <div class="ui-grid-row">
			        <div class="ui-grid-col-4">
			        	<img src="images/mainpage/design.png" width="150" />
			        	<h2>Оригинальное оформление!</h2>
			        </div>
			        
			        <div class="ui-grid-col-4">
			        	<img src="images/mainpage/startup.png" width="150" />
			        	<h2>Доставка за 2 часа!</h2>
			        </div>
			        
			        <div class="ui-grid-col-4">
			        	<img src="images/mainpage/free.png" width="150" />
			        	<h2>Поздравь 7 человек, а восьмого БЕСПЛАТНО!</h2>
			        </div>
			    </div>
			</div>	
			<p:separator />		
			<h1>
			 Подарки от <font color="1f6fe8">999</font> рублей!
			</h1>
			<h2>
				Доставим ваш подарок в любую точку города Ставрополя!
			</h2>
			<br />
			
			<p:button value="Заказать подарок!" href="StepOne.do" styleClass="ui-priority-primary page-button"></p:button>
			<br />
		
	    </p:layoutUnit>
	    
	</p:layout>
</center>


</h:body>
</html>