<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<style>
		@import url(//fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,cyrillic);
			
		BODY {
			background:#F3E2A9;
			font-family: 'Open Sans', sans-serif;
			font-size:13px;
		}
		.in-topic-app {
			font-size:13px;
			font-family: 'Open Sans', sans-serif;
		}
	</style>
</h:head>

<h:body>
	<center>
	<h2>Авторизация</h2>
	<p:layout style="width:320px; height: 200px;">
	 
	    <p:layoutUnit position="center">
	    	<h:form>
	        <h:panelGrid columns="2" cellpadding="4">
				<h:outputText value="Имя:" styleClass="in-topic-app"/>
				<p:inputText value="#{profile.firstName}" />
				
				<h:outputText value="Фамилия:" styleClass="in-topic-app"/>
				<p:inputText value="#{profile.lastName}" styleClass="in-topic-app"/>
				
				<h:outputText value="Пароль:" styleClass="in-topic-app"/>
				<p:password value="#{profile.password}" styleClass="in-topic-app"/>
				
				<h:outputText value=" "/>
				<p:remoteCommand name="login" actionListener="#{profile.login}" />
				<p:commandButton value="Войти" action="#{profile.login}" icon="fa fa-key"/>
				<p:link outcome="Index.do" value="На главную страницу" />
			</h:panelGrid>
			</h:form>
	    </p:layoutUnit>
	</p:layout>
	</center>
</h:body>

</html>