<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style.xhtml" />
	<title>Шаг 1 - Выбор подарков и открытки</title>
</h:head>
<h:body>

<center>
	<ui:include src="/parts/idle_update.xhtml" />
	
	<a href="Index.do">
		<img src="#{design.logoImage}" />
	</a>
	
	<br /><br />
	
	<p:layout style='width:90%;min-width:1000px;height: 500px;' >

	    <p:layoutUnit position="center" style="padding:20px;" footer="Copyright © Happyship.ru 2015  Все права защищены" resizable="true">
			<center>
				<img src="images/icons/done.png" width="250" />
				<h1>Заказ дотавлен в службу доставки!</h1>
			</center>
	    </p:layoutUnit>
	    
	</p:layout>

</center>


</h:body>
</html>