<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style.xhtml" />
	<title>Шаг 2 - Выбор времени и адреса доставки</title>
</h:head>

<h:body>
<center>
	<ui:include src="/parts/idle_update.xhtml" />
	
	<a href="Index.do">
		<img src="#{design.logoImage}" />
	</a>
	
	<br /><br />
	
	<p:layout style="width:90%;min-width:1000px;height: #{design.stepTwoHeight}px;">

	    <p:layoutUnit position="center" style="padding:20px;" footer="Copyright © Happyship.ru 2015  Все права защищены" resizable="true">
	    
    		<p class="p-header">
				Выберите интервал доставки подарка и дату доставки. 
				Sender: #{order.sender}
			</p>
			
			<h:form id="stepTwoPageFromId">
			<h:panelGrid columns="2" style="text-align:center;">
				<p:selectOneButton value="#{order.deliveryDate}"  style="font-size:20px;font-family: 'Open Sans', sans-serif; width:150px;" class="ui-selectonebutton">
					<p:ajax event="change" listener="#{order.updateTimeList}" update="deliveryTime, timeSwitcher"/>
				    <f:selectItem itemLabel="#{order.time.days[0].value}" itemValue="0" />
				    <f:selectItem itemLabel="#{order.time.days[1].value}" itemValue="1" />
				    <f:selectItem itemLabel="#{order.time.days[2].value}" itemValue="2" />
				    <f:selectItem itemLabel="#{order.time.days[3].value}" itemValue="3" />
				    <f:selectItem itemLabel="#{order.time.days[4].value}" itemValue="4" />
				    <f:selectItem itemLabel="#{order.time.days[5].value}" itemValue="5" />
				    <f:selectItem itemLabel="#{order.time.days[6].value}" itemValue="6" />
				</p:selectOneButton>	
				<p:selectOneButton widgetVar="timeSwitcher" id="timeSwitcher" value="#{order.deliveryTime}" style="font-size:20px;font-family: 'Open Sans', sans-serif;width:200px;" class="ui-selectonebutton">
					<p:ajax event="change" update="deliveryTime" />
				    <f:selectItem itemLabel="08:00 до 10:00" itemValue="0" itemDisabled="#{order.time.times[0].value}"/>
				    <f:selectItem itemLabel="10:00 до 12:00" itemValue="1" itemDisabled="#{order.time.times[1].value}"/>
				    <f:selectItem itemLabel="12:00 до 14:00" itemValue="2" itemDisabled="#{order.time.times[2].value}"/>
				    <f:selectItem itemLabel="14:00 до 16:00" itemValue="3" itemDisabled="#{order.time.times[3].value}"/>
				    <f:selectItem itemLabel="16:00 до 18:00" itemValue="4" itemDisabled="#{order.time.times[4].value}"/>
				    <f:selectItem itemLabel="18:00 до 20:00" itemValue="5" itemDisabled="#{order.time.times[5].value}"/>
				    <f:selectItem itemLabel="20:00 до 22:00" itemValue="6" itemDisabled="#{order.time.times[6].value}"/>
				    
				</p:selectOneButton>			
			</h:panelGrid>
				
			<p class="p-header">
				Введите адрес куда нужно доставить подарок.
			</p>
			
			<h:panelGrid columns="3" cellpadding="5">
				<h:outputText value="Город:" styleClass="msg-topic-app"/>
				<p:inputText value="Ставрополь" disabled="true" style="font-size:20px;font-family: 'Open Sans', sans-serif;"/>
				<h:outputText value="" />
				
		    	<!--  ################# УЛИЦА ####################### -->
		    	<h:outputText value="Улица:" styleClass="msg-topic-app"/>
		    	<p:inputText  
		    		id="cpartyStreet"
		    		style="font-size:20px;font-family: 'Open Sans', sans-serif;"
		    		maxlength="200"  
		    		value="#{order.streetname}" 
		    		validatorMessage="Улица от 3 до 300 символов!" 
		    		required="true"
		    		requiredMessage="Улица должна быть введена!">
		    		<f:validateLength minimum="3" maximum="300" />
		    	</p:inputText>
		    	<p:message for="cpartyStreet" showDetail="true" />
		    	
		    	<!--  ################# НОМЕР ДОМА ####################### -->
		    	<h:outputText value="Номер дома:" styleClass="msg-topic-app"/>
		    	<p:inputText  
		    		id="cpartyNumber"
		    		style="font-size:20px;font-family: 'Open Sans', sans-serif;"
		    		maxlength="5" 
		    		size="5" 
		    		value="#{order.number}" 
		    		validatorMessage="Номер дома от 1 до 5 символов!" 
		    		required="true"
		    		requiredMessage="Номер дома должн быть введен!">
		    		<f:validateLength minimum="1" maximum="5" />
		    	</p:inputText>
		    	<p:message for="cpartyNumber" showDetail="true" />  
		    	
		    	<!--  ################# КВАРТИРА ####################### -->
		    	<h:outputText value="Квартира:" styleClass="msg-topic-app"/>
		    	<p:inputText  
		    		id="cpartyRoom"
		    		style="font-size:20px;font-family: 'Open Sans', sans-serif;"
		    		maxlength="5" 
		    		size="5" 
		    		value="#{order.room}" 
		    		validatorMessage="Номер квартиры от 1 до 10 символов!" 
		    		required="true"
		    		requiredMessage="Номер квартиры должен быть введён!">
		    		<f:validateLength minimum="1" maximum="10" />
		    	</p:inputText>
		    	<p:message for="cpartyRoom" showDetail="true" /> 
			</h:panelGrid>
			
			<p class="p-header">
				Введите данные о себе. Получателю подарка эти данные не сообщаются.
				Они нужны для информирования вас о доставке.
			</p>	
			
			<h:panelGrid columns="3" cellpadding="5">
			
		    	<!--  ################# ФАМИЛИЯ ####################### -->
		    	<h:outputText value="Фамилия:" styleClass="msg-topic-app"/>
		    	<p:inputText  
		    		id="orderLastName"
		    		style="font-size:20px;font-family: 'Open Sans', sans-serif;"
		    		maxlength="30"  
		    		value="#{order.lastName}" 
		    		validatorMessage="Фамилия от 2 до 30 символов!" 
		    		required="true"
		    		requiredMessage="Фамилия должна быть введена!">
		    		<f:validateLength minimum="2" maximum="30" />
		    	</p:inputText>
		    	<p:message for="orderLastName" showDetail="true" />
		    	
		    	<!--  ################# ИМЯ ####################### -->
		    	<h:outputText value="Имя:" styleClass="msg-topic-app"/>
		    	<p:inputText  
		    		id="orderFisrtName"
		    		style="font-size:20px;font-family: 'Open Sans', sans-serif;"
		    		maxlength="30"  
		    		value="#{order.firstName}" 
		    		validatorMessage="Имя от 2 до 30 символов!" 
		    		required="true"
		    		requiredMessage="Имя должно быть введено!">
		    		<f:validateLength minimum="2" maximum="30" />
		    	</p:inputText>
		    	<p:message for="orderFisrtName" showDetail="true" />	
		    	
		    	<!--  ################# ОТЧЕСТВО ####################### -->
		    	<h:outputText value="Отчество:" styleClass="msg-topic-app"/>
		    	<p:inputText  
		    		id="orderMiddleName"
		    		style="font-size:20px;font-family: 'Open Sans', sans-serif;"
		    		maxlength="30"  
		    		value="#{order.middleName}"/>
		    	<p:message for="orderMiddleName" showDetail="true" />	
		    	
		    	<!--  ################# EMAIL ####################### -->
		    	<h:outputText value="E-Mail:" styleClass="msg-topic-app"/>
		    	<p:inputText  
		    		id="orderEmail"
		    		style="font-size:20px;font-family: 'Open Sans', sans-serif;"
		    		maxlength="30"  
		    		value="#{order.email}"/>
		    	<p:message for="orderEmail" showDetail="true" />	
		    				
		    	<!--  ################# ТЕЛЕФОН ####################### -->
		    	<h:outputText value="Телефон:" styleClass="msg-topic-app"/>
		    	<p:inputMask 
		    		id="orderPhonenumber"
		    		style="font-size:20px;font-family: 'Open Sans', sans-serif;"
		    		maxlength="16"
		    		mask="+7 (999) 999 99-99"  
		    		value="#{order.phonenumber}"
		    		required="true"
		    		requiredMessage="Телефон должен быть введён!"/>
		    	<p:message for="orderPhonenumber" showDetail="true" />	
			</h:panelGrid>
			
			<h2>Список ваших подарков:</h2>
        	<p:dataGrid 
        		var="pres" 
        		value="#{order.selectedPresents}" 
        		columns="6" 
        		rows="1" 
        		layout="grid" 
        		paginator="true"
        		paginatorTemplate="{PreviousPageLink} {NextPageLink}">
		        <p:panel style="height:270px;">
       				<div style="height:100px;text-align:center; display:table;">
	   					<div style="display: table-cell; vertical-align: middle;">
	   						<h3>#{pres.name}</h3>
	   					</div>
	   				</div>
		        	<h:graphicImage url="#{pres.imageurl}" width="130"/>
		        </p:panel>	        	
        	</p:dataGrid>        	
       		<h1>
	       		Сумма заказа: <font color="1f6fe8">#{order.price}</font> рублей<br />
	       		Мы доставим подарки <h:outputText id="deliveryTime" value="#{order.selectedDate}" />.
       		</h1>   
       		
       		<p class="p-header">
				Если вас всё устраивает,выберите способ оплаты и жмите кнопку "Заказать!".
				Вы будите перенаправлены на страницу оплаты. Сразу же после оплаты, ваш заказ поступит в службу доставки.
			</p>	
			
			<p:selectOneButton styleClass="ui-payment" value="#{order.payCase}">
	            <f:selectItem itemValue="PC" itemLabel="Яндекс Деньги"/>
	            <f:selectItem itemValue="AC" itemLabel="Банковская карта" />
	            <f:ajax event="change" update="paymentType" />
	        </p:selectOneButton>
        	<br />
			<br />
        	
        	<p:messages id="messages" showDetail="false" autoUpdate="true" redisplay="true" closable="true" style="font-size:20px;font-family: 'Open Sans', sans-serif;"/>
        	
        	<h:panelGrid columns="2" columnClasses="ui-go-previous-page, ui-go-next-page" style="width:100%;">
	        	<p:commandButton 
	        		value="Выбрать другие подарки" 
	        		styleClass="ui-next-button" 
	        		action="#{navigator.toStepOnePage}"
	        		icon="fa fa-chevron-left"
	        		immediate="true"/>
	        		
				<p:commandButton 
					value="Заказать!"
					validateClient="true"
					actionListener="#{order.acceptStepTwo}"
					styleClass="ui-priority-primary ui-next-button"
					update="stepTwoPageFromId orderNumber CustomerNumber">
					</p:commandButton>
        	</h:panelGrid>
        	
	    	<!-- ОБРАБОТЧИК СООБЩЕНИЙ -->
		    <p:messages autoUpdate="true" showDetail="false" closable="true" rendered="false"/>
			</h:form>
			
			<form name="ShopForm" method="post" action="https://money.yandex.ru/eshop.xml">
				<input name="shopId" value="47293" type="hidden"></input>
				<input name="scid" value="32301" type="hidden"></input> 
				<h:inputHidden id="orderNumber" value="#{order.orderId}" />
				<h:inputHidden id="sum" value="#{order.price}" />
				<h:inputHidden id="paymentType" value="#{order.payCase}" />
				<h:inputHidden id="CustomerNumber" value="#{order.formatPhonenumber}" />
				<script type="text/javascript">
					function submitform()
					{
					  document.ShopForm.submit();
					}
				</script>
			</form>
	    </p:layoutUnit>
	    
	</p:layout>

</center>

</h:body>
</html>