<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/parts/header.xhtml" />
	<ui:include src="/parts/style.xhtml" />
	<title>Шаг 1 - Выбор подарков и открытки</title>
</h:head>
<h:body>

<center>
	<ui:include src="/parts/idle_update.xhtml" />
	
	<a href="Index.do">
		<img src="#{design.logoImage}" />
	</a>
	
	<br /><br />
	
	<p:layout style='width:90%;min-width:1000px;height: #{design.stepOneHeight}px;' >

	    <p:layoutUnit position="center" style="padding:20px;" footer="Copyright © Happyship.ru 2015  Все права защищены" resizable="true">

	    	<h:panelGrid style="width:100%;text-align:center;">
	    		<h:graphicImage url="images/topics/topic-present.png"/>
	    		<h:column>
	    			<h1>Выберите подарок</h1>
	    		</h:column>
	    	</h:panelGrid>

			<h:form>	
				<!-- КОМАНДА ДОБАВЛЕНИЯ ПОДАРКА -->
				<p:remoteCommand name="sendPresent" actionListener="#{order.addSelectedPresent}"/>
			</h:form>
			<h:form>
				<!-- КОМАНДА ОБНОВЛЕНИЯ ТЕКСТА ПОЗДРАВЛЕНИЯ -->
				<p:remoteCommand name="updateMessage" actionListener="#{order.updateMessage}"/>
			</h:form>
			<h:form>
				<!-- КОМАНДА ОБНОВЛЕНИЯ ОТКРЫТКИ -->
				<p:remoteCommand name="updatePostcard" actionListener="#{order.updatePostcard}"/>
			</h:form>
			
			<!-- ПАНЕЛЬ ВЫБОРА ПОДАРКОВ -->
	        <p:accordionPanel id="accPanel" value="#{scPresents.units}" var="presentList">
		        <p:tab title="#{presentList.name}">
		        	<p:dataGrid 
		        		var="pres" 
		        		value="#{presentList.objects}" 
		        		columns="4" 
		        		rows="1" 
		        		layout="grid" 
		        		paginator="true"
		        		paginatorTemplate="{PreviousPageLink} {NextPageLink}"
		        		id="dataList">
		        		
						<p:panel styleClass="#{pres.styleClassName}">
				            <h:panelGrid columns="1" style="width:100%;text-align:center;">
				   				<div style="width:100%;height:125px;text-align:center; display:table;">
				   					<div style="display: table-cell; vertical-align: middle;">
				   						<h2>#{pres.name}</h2>
				   					</div>
				   				</div>
				   				<h:graphicImage url="#{pres.imageurl}" width="190"/>
				   				<h2>#{pres.price} руб.</h2>
				   				<p:selectBooleanButton 
				   					value="#{pres.selected}"
				   					immediate="false"
				   					onchange="sendPresent([{name: 'present', value:'#{pres.id}'},{name: 'presentType', value:'#{pres.typeId}'}])"
				   					onLabel="Выбрано"
				   					offLabel="Не выбрано" 
				   					onIcon="fa fa-check" 
				   					offIcon="fa fa-unlink" 	   					
				   					styleClass="ui-select-button">
				   					<p:ajax event="change" update=":accPanel:dataList :messageForm:priceData" />
				   				</p:selectBooleanButton>
				            </h:panelGrid> 
				        </p:panel>		        	
		        	</p:dataGrid> 	 
		        </p:tab>
		    </p:accordionPanel>
		    
		    <h:panelGrid column="2" style="width:100%;text-align:center;">
	    		<h:graphicImage url="images/topics/topic-postcard.png"/>
	    		<h:column>
	    			<h1>Открытка</h1>
	    		</h:column>
	    	</h:panelGrid>
		    
	    	<p class="p-header">
				К вашему подарку может быть приложена открытка с вашим поздравлением!
				Заполните анкету ниже если хотите отправить открытку.
			</p>
			
			<!-- ПАНЕЛЬ ВЫБОРА СООБЩЕНИЯ -->
	        <p:accordionPanel value="#{scMessages.units}" var="messagesList">
		        <p:tab title="#{messagesList.name}">
		        	<p:dataGrid 
		        		var="mes" 
		        		value="#{messagesList.objects}" 
		        		columns="3" 
		        		rows="1" 
		        		layout="grid" 
		        		paginator="true"
		        		paginatorTemplate="{PreviousPageLink} {NextPageLink}"
		        		id="dataList">
		        		
			        <p:panel style="height:210px;">
				        <p class="p-messages" style="height:140px;">
				       		#{mes.message}
				        </p>
			        	<p:commandButton 
			        		value="Выбрать" 
			        		styleClass="ui-standart-cmd"
			        		icon="fa fa-pencil" 
			        		onclick="updateMessage([{name: 'messageId', value:'#{mes.id}'}])"
			        		update="messageForm:order-message"/>
			        </p:panel>	        	
		        	</p:dataGrid> 	 
		        </p:tab>
		    </p:accordionPanel>

			<h:form id="messageForm">
			<h:panelGrid columns="3" cellpadding="10" styleClass="msg-app ui-message-box" style="text-align:left;">
				<h:outputText value="Получатель:" styleClass="msg-topic-app" />
				<p:inputText value="#{order.recipient}" id="recipientId" style="font-size:20px;font-family: 'Open Sans', sans-serif;" maxlength="30" >
					<p:ajax event="change" process="@this" />
				</p:inputText>
				<h:outputText value="Используется в начале открытки. Например: Оля, Дима, Бурундучёк и т.д. Если не нужно не заполняйте." styleClass="msg-comment-app"/>
				
				<h:outputText value="Отправитель:" styleClass="msg-topic-app"/>
				<p:inputText value="#{order.sender}"  id="senderId" style="font-size:20px;font-family: 'Open Sans', sans-serif;" maxlength="30" >
					<p:ajax event="change" process="@this" />
				</p:inputText>
				<h:outputText value="Пишется внизу открытки. Если не нужно не заполняйте." styleClass="msg-comment-app"/>
			</h:panelGrid>
		
			<h:panelGrid columns="1" styleClass="msg-topic-free" >
				<h:outputText value="Далее введите текст сообщение если нужно:" styleClass="msg-topic-app" />
			</h:panelGrid>

			<h:panelGrid columns="2" cellpadding="5" styleClass="msg-app">
				<p:inputTextarea 
					value="#{order.message}"
					id="order-message"
					autoResize="false" 
					style="font-family: 'Open Sans', sans-serif;" 
					maxlength="400" 
					cols="55" 
					rows="8" />
				<h:graphicImage width="350" url="#{order.postcard.image}" id="order-postcard"/>
			</h:panelGrid>
			
			<p:dataGrid 
        		var="psc" 
        		value="#{order.postcardList}" 
        		columns="3" 
        		rows="1" 
        		layout="grid" 
        		paginator="true"
        		paginatorTemplate="{PreviousPageLink} {NextPageLink}"
        		id="dataList">	
       			<p:panel style="height:300px;">
       				<h:panelGrid columns="1" style="text-align:center;">
       					<p:commandButton 
       						style="width: 230px important;"
			        		value="Выбрать"
			        		styleClass="ui-standart-cmd"
			        		icon="fa fa-hand-o-left" 
			        		onclick="updatePostcard([{name: 'postcardId', value:'#{psc.id}'}])"
			        		update=":messageForm:order-postcard"/>		
	        			<div style="width:220px;height:220px;text-align:center;display:table;background: url('#{psc.image}'); background-position: 50% 50%;background-size: 220px 220px;">
		   					<div style="display: table-cell; vertical-align: middle;">
		   						<h3>#{psc.name}</h3>
		   					</div>
		   				</div>
		        	</h:panelGrid>
		        </p:panel>	   
        	</p:dataGrid>	
				    	
			<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" style="font-size:20px;font-family: 'Open Sans', sans-serif;"/>
	    	<h1>Сумма заказа: <font color="1f6fe8"><h:outputText id="priceData" value="#{order.price}"/></font> рублей</h1>

	    	<p>
				Вы выбрали желемые подарки и сумма заказа вас устраивает? Тогда жмите далее и введите данные куда и когда нужно
				доставить подарок!
			</p>
	    	<div style="text-align:right;">
	    		<p:commandButton 
	    			value="Далее" 
	    			action="#{order.acceptStepOne}" 
	    			styleClass="ui-priority-primary ui-next-button" 
	    			immediate="true"/>
	    	</div>
	    	</h:form>
	    	<br />
	    </p:layoutUnit>
	    
	</p:layout>

</center>


</h:body>
</html>