<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head></h:head>
	<h:body>
		<form method="post" action="https://money.yandex.ru/eshop.xml">
		<table>
			<tr>
				<td>shopId</td>
				<td><input name="shopId" value="47293" type="text"></input></td>
			</tr>
			
			<tr>
				<td>scid</td>
				<td><input name="scid" value="32301" type="text"></input></td>
			</tr>
			
			<tr>
				<td>orderNumber</td>
				<td><input name="orderNumber" value="122" type="text"></input></td>
			</tr>
			
			<tr>
				<td>sum</td>
				<td><input name="sum" value="900.0" type="text"></input></td>
			</tr>
			
			<tr>
				<td>paymentType</td>
				<td><input name="paymentType" value="AC" type="text"></input></td>
			</tr>
			
			<tr>
				<td>CustomerNumber</td>
				<td><input name="CustomerNumber" value="client11" type="text"></input></td>
			</tr>
		</table>
		<input type="submit" />
		</form>
	</h:body>
</html>